Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

ci: update docker file
  apps/horizon/Dockerfile
Owners: none

feat(horizon): add GPT and identity schema datasets
  apps/horizon/scripts/mainnet/schemas-gpt.jsonl
  apps/horizon/scripts/mainnet/schemas-identity.jsonl
Owners: none

docs(audit): update Scout security audit reports
  contracts/stellar/audit/cargo-scout-audit-v1-review.pdf
  contracts/stellar/audit/cargo-scout-audit.pdf
  contracts/stellar/audit/scout-attest-protocol-auditv1.pdf
  contracts/stellar/audit/scout-attest-protocol-resolvers-auditv1.pdf
  contracts/stellar/audit/scout-experimental-authority-auditv1.pdf
Owners: @daccred/attest

chore(stellar): use workspace SDK version in authority
  contracts/stellar/Cargo.lock
  contracts/stellar/authority/Cargo.toml
Owners: @daccred/attest

chore(horizon): update mainnet RPC to lightsail.network
  apps/horizon/scripts/mainnet/importSchema.ts
  apps/horizon/scripts/mainnet/writeSchemaEntries.ts
Owners: none

feat(horizon): track contract address for schemas and attestations
  apps/horizon/prisma/migrations/20251107132345_add_contract_address_to_schemas_and_attestations/migration.sql
  apps/horizon/prisma/schema.prisma
  apps/horizon/src/repository/attestations.repository.ts
  apps/horizon/src/repository/ingest.repository.ts
  apps/horizon/src/repository/schemas.repository.ts
Owners: none

fix(horizon): set proper default contract address in migration
  apps/horizon/prisma/migrations/20251107132345_add_contract_address_to_schemas_and_attestations/migration.sql
Owners: none

chore(horizon): consolidate prisma migrations into bootstrap baseline
  apps/horizon/prisma/.migrations_backup/20250828004918_bootstrap_new_horizon_model/migration.sql
  apps/horizon/prisma/.migrations_backup/20250828160112_add_event_transaction_table/migration.sql
  apps/horizon/prisma/.migrations_backup/20250828160956_transaction_tablename/migration.sql
  apps/horizon/prisma/.migrations_backup/20250828164437_is_event_successful_in_events/migration.sql
  apps/horizon/prisma/.migrations_backup/20250828221334_fix_horizon_event_operation_foreign_key/migration.sql
  apps/horizon/prisma/.migrations_backup/20250906165051_schema_categories/migration.sql
  apps/horizon/prisma/.migrations_backup/20251107132345_add_contract_address_to_schemas_and_attestations/migration.sql
  apps/horizon/prisma/.migrations_backup/migration_lock.toml
  apps/horizon/prisma/migrations/20251107164720_init/migration.sql
Owners: none

fix(horizon): add missing contractAddress to repository operations
  apps/horizon/src/repository/backfill.repository.ts
  apps/horizon/src/repository/events.repository.ts
Owners: none

chore(deps): upgrade stellar-sdk from 14.1.0 to 14.3.0
  apps/horizon/package.json
  contracts/stellar/package.json
  package.json
  packages/cli/package.json
  packages/stellar-sdk/package.json
  pnpm-lock.yaml
Owners: @daccred/attest, @pauleke, @koolamusic

refactor(horizon): use contract bindings for protocol contract IDs
  apps/horizon/scripts/mainnet/importSchema.ts
  apps/horizon/scripts/mainnet/writeSchemaEntries.ts
  apps/horizon/scripts/writeSchemaEntries.ts
Owners: none

fix(horizon): adjust transaction fees and use contract bindings in schema import
  apps/horizon/scripts/importSchema.ts
  apps/horizon/scripts/schemas-identity.jsonl
Owners: none

chore(horizon): regenerate education schema UIDs and update dependencies
  apps/horizon/scripts/schemas-education.jsonl
  pnpm-lock.yaml
Owners: none

chore(horizon): regenerate schema UIDs after contract binding updates
  apps/horizon/scripts/schemas-finance.jsonl
  apps/horizon/scripts/schemas-gpt.jsonl
  apps/horizon/scripts/schemas-institution.jsonl
  apps/horizon/scripts/schemas-technology.jsonl
Owners: none

docs(changeset): mainnet release version
  .changeset/major-pigs-melt.md
Owners: none

RELEASING: Releasing 10 package(s)
  .changeset/major-pigs-melt.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 2.0.0-0
  package.json
Owners: none

ci: update lockfile
  pnpm-lock.yaml
Owners: none

docs: enhance README with comprehensive quick links section
  README.md
Owners: none

docs: add awards & recognition section to README
  README.md
Owners: none

docs: clean up documentation configuration and fix broken links
  CLAUDE.md
  apps/docs/docs.json
  apps/docs/overview.mdx
Owners: none

docs: optimize documentation for brevity
  CLAUDE.md
  apps/docs/overview.mdx
Owners: none

docs: streamline documentation for Stellar focus
  apps/docs/chains/stellar/overview.mdx
  apps/docs/getting-started/your-first-attestation.mdx
  apps/docs/guides/how-it-works.mdx
Owners: none

docs: streamline overview and focus quickstart on Stellar SDK
  apps/docs/overview.mdx
  apps/docs/quickstart.mdx
Owners: none

fix(deps): drop vulnerable extract-zip by moving the puppeteer chain to 25
  apps/docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: none

fix(deps): patch toml, vitest, fflate and stream-json advisories
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: none

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic
