Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic

fix(build): add config to tag releases
  release-it.json
Owners: none

Release 1.1.1
  package.json
Owners: none

ci(build): fix soroban release workflow
  .github/workflows/soroban-release.yml
Owners: none

ci(build): add release config to package json
  package.json
Owners: none

Release 1.1.2
  package.json
Owners: none

chore: move release it config to scoped filed
  .release-it.json
  package.json
Owners: none

Release 1.1.2
  package.json
Owners: none

ci(build): fix path issues in soroban release workflow
  .github/workflows/soroban-release.yml
  package.json
Owners: none

Release 1.1.3-0
  package.json
Owners: none

fix: re-initialise integration runs for protocol and authority contracts
  contracts/stellar/scripts/authority.mjs
  contracts/stellar/scripts/protocol.mjs
Owners: @daccred/attest

chore: include Cargo.lock in git history for build binary consistency
  contracts/stellar/.env.example.sh
  contracts/stellar/.gitignore
  contracts/stellar/.gitkeep
  contracts/stellar/Cargo.lock
  contracts/stellar/protocol/.gitignore
  contracts/stellar/scripts/run.mjs
Owners: @daccred/attest

fix(build): Disable Wasm reference-types via .cargo/config.toml
  contracts/stellar/.cargo/config.toml
Owners: @daccred/attest

feat(deploy): Add deploy script for stellar contracts
  contracts/stellar/contracts.json
  contracts/stellar/deploy.sh
  contracts/stellar/readme.txt
Owners: @daccred/attest

fix(deploy): Capture stderr from deploy command to correctly update deployments.json
  contracts/stellar/.env.example
  contracts/stellar/contracts.json
  contracts/stellar/deploy.sh
  contracts/stellar/deployments.json
  contracts/stellar/readme.txt
Owners: @daccred/attest

chore: add documentation for soroban deployment script
  contracts/stellar/deploy.sh
  contracts/stellar/deployments.json
Owners: @daccred/attest

make contract package public
  contracts/stellar/package.json
Owners: @daccred/attest

fix: update npmjs namespace in package.json
  package.json
  packages/sdk/package.json
Owners: @pauleke, @koolamusic

Release 1.1.3
  package.json
Owners: none

ci: bump version is cargo.toml
  contracts/stellar/Cargo.toml
  contracts/stellar/package.json
Owners: @daccred/attest

add documentation for setting up rust analyzer
  README.md
Owners: none

fix: resolver as imports of SorobanString from rust sdk to default String imports
  contracts/stellar/Cargo.lock
  contracts/stellar/protocol/src/instructions/attest.rs
  contracts/stellar/protocol/src/instructions/revoke.rs
  contracts/stellar/protocol/src/instructions/schema.rs
  contracts/stellar/protocol/src/lib.rs
  contracts/stellar/protocol/src/state.rs
  contracts/stellar/protocol/src/tests.rs
  contracts/stellar/protocol/src/utils.rs
Owners: @daccred/attest

feat(sdk): wip with test integrations for attest protocol
  contracts/stellar/.gitignore
  contracts/stellar/deployments.json
  contracts/stellar/package.json
  contracts/stellar/scripts/README.md
  contracts/stellar/test/protocol.integration.test.mjs
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Owners: @daccred/attest, @pauleke, @koolamusic

chore: update the deployment link for the protocol contract
  contracts/stellar/deployments.json
Owners: @daccred/attest

feat(build): add support to add initialization post hook after deployment on contracts on stellar
  contracts/stellar/deploy.sh
  contracts/stellar/deployments.json
  contracts/stellar/readme.txt
Owners: @daccred/attest

feat: attest protocol integration tests for testnet
  contracts/stellar/test/protocol.integration.test.mjs
Owners: @daccred/attest

feat(authority): integration test account setup function with friendbot
  contracts/stellar/.env.example
  contracts/stellar/test/account-setup.mjs
  contracts/stellar/test/authority.integration.test.mjs
  contracts/stellar/test/readme.md
Owners: @daccred/attest

ci: add cargo test to package.json script
  package.json
  packages/sdk/src/core/starknet.ts
Owners: @pauleke, @koolamusic

feat (cli): remove old cli
  packages/cli/.editorconfig
  packages/cli/.env.example
  packages/cli/.eslintignore
  packages/cli/.eslintrc.cjs
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/.prettierignore
  packages/cli/.prettierrc
  packages/cli/.releaserc.json
  packages/cli/LICENSE
  packages/cli/README.md
  packages/cli/__ci/.github/workflows/release.yml
  packages/cli/__ci/.husky/commit-msg
  packages/cli/__ci/.husky/pre-commit
  packages/cli/bin/run.ts
  packages/cli/commitlint.config.js
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/sample.json
  packages/cli/src/commands/attestation.ts
  packages/cli/src/commands/authority.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/schema.ts
  packages/cli/src/handlers/base.ts
  packages/cli/src/handlers/index.ts
  packages/cli/src/handlers/solana.ts
  packages/cli/src/handlers/stellar.ts
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/logger.ts
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
  packages/cli/yarn.lock
Owners: @pauleke, @koolamusic

feat: update package names and refactor SDK usage in README;
  packages/sdk/README.md
  packages/sdk/jsr.json
  packages/sdk/package-lock.json
  packages/solana-cli/bin/run
  packages/solana-cli/bin/run.js
  packages/solana-cli/package.json
  packages/solana-cli/tsconfig.json
  packages/solana-cli/tsup.config.ts
  packages/starknet-cli/bin/run
  packages/starknet-cli/bin/run.js
  packages/starknet-cli/package.json
  packages/starknet-cli/tsconfig.json
  packages/starknet-cli/tsup.config.ts
  packages/stellar-cli/.gitignore
  packages/stellar-cli/package.json
  pnpm-lock.yaml
Owners: @pauleke, @koolamusic

fix(cli): update import paths for AttestSDKBase in base handlers
  packages/solana-cli/src/handlers/base.ts
  packages/solana-cli/src/handlers/solana.ts
  packages/starknet-cli/keys/sol-att.json
  packages/starknet-cli/keys/sol-auth.json
  packages/starknet-cli/src/handlers/base.ts
Owners: none

refactor(stellar-cli): replace 'keypair' with 'signer-key' in CLI commands and handlers
  packages/stellar-cli/README.md
  packages/stellar-cli/bin/run.ts
  packages/stellar-cli/dist/bin/run.js
  packages/stellar-cli/dist/bin/run.mjs
  packages/stellar-cli/dist/src/index.js
  packages/stellar-cli/dist/src/index.mjs
  packages/stellar-cli/src/commands/attestation.ts
  packages/stellar-cli/src/commands/authority.ts
  packages/stellar-cli/src/commands/schema.ts
  packages/stellar-cli/src/handlers/base.ts
  packages/stellar-cli/src/handlers/index.ts
Owners: none

chore: authority integration tests failing
  contracts/stellar/test/authority.integration.test.mjs
  contracts/stellar/test/protocol.integration.test.mjs
Owners: @daccred/attest

wip (sdk): implement stellar contract from test in `core`
  packages/sdk/src/core/stellar.ts
  packages/sdk/src/core/types.ts
  packages/sdk/src/index.ts
  packages/sdk/test/run-stellar.ts
Owners: @pauleke, @koolamusic

Potential fix for code scanning alert no. 1: Clear-text logging of sensitive information
  contracts/stellar/scripts/protocol.mjs
Owners: @daccred/attest

use authorize entry from sdk
  contracts/stellar/test/authority.integration.test.mjs
Owners: @daccred/attest

chore: git ignore tests generated files
  contracts/stellar/.gitignore
Owners: @daccred/attest

Release 1.2.0
  package.json
Owners: none

ci: update deployments tag for protocol and authority
  contracts/stellar/deployments.json
Owners: @daccred/attest

fix: merge conflict error in package.json
  packages/solana-cli/package.json
Owners: none

chore: add license information to packages
  contracts/stellar/authority/Cargo.toml
  contracts/stellar/protocol/Cargo.toml
Owners: @daccred/attest
