Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic

feat(horizon): improve environment configuration
  apps/horizon/.env.example
  pnpm-lock.yaml
Owners: none

chore(horizon): remove unused nixpacks.toml config
  apps/horizon/nixpacks.toml
Owners: none

chore(horizon): cleanup horizonOperation references and mock files
  apps/horizon/__tests__/fixtures/test-data.ts
  apps/horizon/__tests__/setup.ts
  apps/horizon/docs/TESTING.md
  apps/horizon/scripts/mock-dbc.ts
  apps/horizon/scripts/mock-mongo.mjs
  apps/horizon/scripts/mock-prisma.js
Owners: none

docs(horizon): update README with production URLs
  apps/horizon/README.md
Owners: none

fix(horizon): correct API paths in README documentation
  apps/horizon/README.md
Owners: none

feat(stellar): expose contract bindings for SDK consumption
  contracts/stellar/bindings/src/index.ts
  contracts/stellar/package.json
  packages/stellar-sdk/package.json
  packages/stellar-sdk/src/stellar-sdk.ts
Owners: @daccred/attest

feat(stellar): update contract bindings with new deployment IDs
  contracts/stellar/bindings/src/authority.md
  contracts/stellar/bindings/src/authority.ts
  contracts/stellar/bindings/src/protocol.md
  contracts/stellar/bindings/src/protocol.ts
  contracts/stellar/deployments.json
Owners: @daccred/attest

build(stellar-sdk): modernize build system with tsup bundler
  packages/stellar-sdk/examples/test.ts
  packages/stellar-sdk/package.json
  packages/stellar-sdk/src/stellar-sdk.ts
  packages/stellar-sdk/tsconfig.esm.json
  packages/stellar-sdk/tsconfig.types.json
  packages/stellar-sdk/tsup.config.ts
Owners: none

build(stellar): update package configuration for TypeScript compilation
  contracts/stellar/package.json
  contracts/stellar/tsconfig.json
  pnpm-lock.yaml
Owners: @daccred/attest

refactor(stellar): remove redundant bindings index file
  contracts/stellar/bindings/src/index.ts
Owners: @daccred/attest

refactor(stellar-sdk): implement modular service architecture with direct contract integration
  packages/stellar-sdk/src/attest.ts
  packages/stellar-sdk/src/authority.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/schema.ts
  packages/stellar-sdk/src/stellar-sdk.ts
Owners: none

feat(stellar-sdk): implement comprehensive internal utilities with real-world schemas
  packages/stellar-sdk/examples/real-world-demo.ts
  packages/stellar-sdk/examples/test.ts
  packages/stellar-sdk/src/_internal.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/schema.ts
Owners: none

refactor(stellar-sdk): reorganize internal utilities into modular structure
  packages/stellar-sdk/examples/real-world-demo.ts
  packages/stellar-sdk/examples/standardized-schema-demo.ts
  packages/stellar-sdk/examples/test.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/internal/index.ts
  packages/stellar-sdk/src/internal/schema-encoder.ts
  packages/stellar-sdk/src/internal/schema-utils.ts
  packages/stellar-sdk/src/internal/standardized-schemas.ts
  packages/stellar-sdk/src/internal/stellar-utils.ts
  packages/stellar-sdk/src/internal/test-data.ts
  packages/stellar-sdk/src/internal/validators.ts
  packages/stellar-sdk/src/schema.ts
Owners: none

refactor(sdk): replace complex build system with unified tsup configuration
  packages/sdk/.releaserc.json
  packages/sdk/global.d.ts
  packages/sdk/jsr.json
  packages/sdk/package.json
  packages/sdk/test/converter.test.js
  packages/sdk/tsconfig.esm.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.module.json
  packages/sdk/tsconfig.types.json
  packages/sdk/tsup.config.ts
  packages/sdk/webpack.config.js
  pnpm-lock.yaml
Owners: @pauleke, @koolamusic

docs(stellar-sdk): fix import statements and module paths in README
  packages/stellar-sdk/README.md
  packages/stellar-sdk/examples/multiple-schema-creation.ts
  packages/stellar-sdk/examples/offchain-schema-encoder.ts
  packages/stellar-sdk/examples/revocable-attestations.ts
Owners: none

docs(stellar-sdk): remove obsolete standardized-schema-demo example
  packages/stellar-sdk/examples/standardized-schema-demo.ts
Owners: none

build: add comprehensive release automation script
  scripts/release.sh
Owners: none

fix(stellar-sdk): replace Math.random() with cryptographically secure random generation
  packages/stellar-sdk/package.json
  packages/stellar-sdk/src/internal/__utils/placeholders.ts
  packages/stellar-sdk/src/internal/index.ts
  packages/stellar-sdk/src/internal/standardized-schemas.ts
  packages/stellar-sdk/src/internal/stellar-utils.ts
  packages/stellar-sdk/src/internal/validators.ts
Owners: none

refactor(stellar-sdk): reorganize internal utilities and update import paths
  packages/stellar-sdk/examples/multiple-schema-creation.ts
  packages/stellar-sdk/examples/offchain-schema-encoder.ts
  packages/stellar-sdk/src/_internal/keypairs.ts
  packages/stellar-sdk/src/_internal/placeholders.ts
  packages/stellar-sdk/src/_internal/standardized-schemas.ts
  packages/stellar-sdk/src/_internal/validators.ts
  packages/stellar-sdk/src/common/index.ts
  packages/stellar-sdk/src/common/schema-encoder.ts
  packages/stellar-sdk/src/common/schema-utils.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/schema.ts
Owners: none

docs(changeset): sdk bundle tooling and packages
  .changeset/happy-spiders-fetch.md
Owners: none

RELEASING: Releasing 7 package(s)
  .changeset/happy-spiders-fetch.md
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

chore(stellar): bump contracts to version 1.3.2 - Update authority and protocol contract versions from 1.3.1 to 1.3.2 - Disable changeset validation in release script for manual releases
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
  scripts/release.sh
Owners: @daccred/attest

chore: remove redundant eslint dependencies and scripts from packages without configurations
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/solana-sdk/package.json
  packages/starknet-sdk/package.json
  packages/stellar-sdk/package.json
Owners: @pauleke, @koolamusic

chore: synchronize package versions and workspace dependencies
  apps/horizon/package.json
  contracts/starknet/package.json
  contracts/stellar/package.json
  contracts/whitepaper/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.7.1-0
  package.json
Owners: none

chore: synchronize package versions to 1.7.0
  apps/docs/package.json
  apps/horizon/package.json
  apps/www/package.json
  contracts/solana/package.json
  contracts/starknet/package.json
  packages/sdk/jsr.json
Owners: @kohasummons, @koolamusic, @daccred/attest, @pauleke

chore(cli): optimize cli bundling with updated tsup config.
  contracts/stellar/package.json
  packages/cli/bin/run.js
  packages/cli/package.json
  packages/cli/tsup.config.ts
Owners: @daccred/attest, @pauleke, @koolamusic

refactor(stellar): rename AttestationRecord to Attestation
  contracts/stellar/authority/src/instructions/resolver.rs
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/authority/src/state.rs
  contracts/stellar/authority/src/test.rs
  contracts/stellar/protocol/src/instructions/revoke.rs
  contracts/stellar/protocol/src/interfaces/resolver.rs
Owners: @daccred/attest

feat(stellar): implement nonce-based attestation system
  contracts/stellar/protocol/src/errors.rs
  contracts/stellar/protocol/src/instructions/attest.rs
  contracts/stellar/protocol/src/state.rs
Owners: @daccred/attest

feat(stellar): add delegated attestation functionality
  contracts/stellar/protocol/src/instructions/delegation.rs
Owners: @daccred/attest

refactor(stellar): simplify function names and remove version suffixes
  contracts/stellar/protocol/src/instructions/mod.rs
  contracts/stellar/protocol/src/lib.rs
Owners: @daccred/attest

feat(stellar): update event system for nonce-based attestations
  contracts/stellar/protocol/src/events.rs
  contracts/stellar/protocol/src/utils.rs
Owners: @daccred/attest

feat(stellar): implement BLS12-381 signature verification for delegated attestations
  contracts/stellar/.gitignore
  contracts/stellar/protocol/src/instructions/delegation.rs
  contracts/stellar/protocol/src/instructions/mod.rs
  contracts/stellar/protocol/src/lib.rs
  contracts/stellar/protocol/src/state.rs
Owners: @daccred/attest

chore: remove claude-sync configuration file
  .claude-sync-config.json
Owners: none

refactor(stellar): simplify BLS key management to one-key-per-wallet design
  contracts/stellar/protocol/src/events.rs
  contracts/stellar/protocol/src/state.rs
Owners: @daccred/attest

feat(stellar): refactor BLS signature verification for key lookup
  contracts/stellar/protocol/src/instructions/delegation.rs
  contracts/stellar/protocol/src/instructions/mod.rs
Owners: @daccred/attest

test(stellar): add comprehensive BLS functionality test suite
  contracts/stellar/protocol/src/bls_tests.rs
  contracts/stellar/protocol/src/lib.rs
  contracts/stellar/protocol/src/tests_old.rs
Owners: @daccred/attest

test(stellar): add delegated attestation integration test suite
  contracts/stellar/__test__/delegated-attestation.test.ts
Owners: @daccred/attest

refactor(stellar): restructure integration tests with modular architecture
  contracts/stellar/__test__/protocol.integration.test.ts
Owners: @daccred/attest

chore: remove unrelated telegram webhook planning file
  telegram-webhook-plan.md
Owners: none
