Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic

add colosseum note
  README.md
Owners: none

Added soroban query attestation implementation
  contracts/stellar/src/query_attestation.rs
Owners: @daccred/attest

Added soroban revoke attestation implementation
  contracts/stellar/src/revoke_attestation.rs
Owners: @daccred/attest

Added soroban create attestation implementation
  contracts/stellar/src/create_attestation.rs
Owners: @daccred/attest

Trimmed soroban query attestation implementation
  contracts/stellar/src/query_attestation.rs
Owners: @daccred/attest

Trimmed soroban revoke attestation implementation
  contracts/stellar/src/revoke_attestation.rs
Owners: @daccred/attest

delete old tests
  contracts/solana/tests/authority_resolver.ts
  contracts/solana/tests/schema_registry.ts
  contracts/solana/tests/solana_attestation_service.ts
Owners: @daccred/attest

Create test.ts
  contracts/solana/tests/test.ts
Owners: @daccred/attest

Delete utils.rs
  contracts/solana/programs/registry/src/utils.rs
Owners: @daccred/attest

add Levy account
  contracts/solana/programs/registry/src/state.rs
Owners: @daccred/attest

update registry ix names
  contracts/solana/programs/registry/src/lib.rs
Owners: @daccred/attest

remove register schema, add create schema
  contracts/solana/programs/registry/src/events.rs
  contracts/solana/programs/registry/src/instructions.rs
  contracts/solana/programs/registry/src/instructions/create_schema.rs
  contracts/solana/programs/registry/src/instructions/register_schema.rs
Owners: @daccred/attest

add Unauthorized error
  contracts/solana/programs/registry/src/errors.rs
Owners: @daccred/attest

remove unused initialize
  contracts/solana/programs/authority/src/instructions.rs
  contracts/solana/programs/authority/src/instructions/initialize.rs
  contracts/solana/programs/authority/src/lib.rs
Owners: @daccred/attest

update config
  contracts/solana/Anchor.toml
  contracts/solana/Cargo.lock
  contracts/solana/package.json
  contracts/solana/programs/attestation/Cargo.toml
  contracts/solana/programs/registry/Cargo.toml
  contracts/solana/tsconfig.json
  contracts/solana/yarn.lock
  pnpm-lock.yaml
Owners: @daccred/attest

add wrong asset and shouldbeunused errors
  contracts/solana/programs/attestation/src/errors.rs
Owners: @daccred/attest

remove unused intialize
  contracts/solana/programs/attestation/src/instructions.rs
  contracts/solana/programs/attestation/src/instructions/initialize.rs
  contracts/solana/programs/attestation/src/lib.rs
Owners: @daccred/attest

update attest ix
  contracts/solana/programs/attestation/src/instructions/attest.rs
  contracts/solana/programs/attestation/src/lib.rs
Owners: @daccred/attest

fmt file
  contracts/solana/programs/authority/src/instructions/register_authority.rs
Owners: @daccred/attest

add utils mod and fns
  contracts/solana/programs/attestation/src/instructions/delegated_attest.rs
  contracts/solana/programs/attestation/src/lib.rs
  contracts/solana/programs/attestation/src/utils.rs
Owners: @daccred/attest

add InvalidData error
  contracts/solana/programs/attestation/src/errors.rs
Owners: @daccred/attest

add solana program dep
  contracts/solana/Cargo.lock
  contracts/solana/programs/attestation/Cargo.toml
Owners: @daccred/attest

refactor: use u64 instead i64
  contracts/solana/programs/attestation/src/events.rs
  contracts/solana/programs/attestation/src/instructions/attest.rs
  contracts/solana/programs/attestation/src/instructions/revoke.rs
  contracts/solana/programs/attestation/src/lib.rs
  contracts/solana/programs/attestation/src/state.rs
Owners: @daccred/attest

add delegated attest instruction
  contracts/solana/programs/attestation/src/instructions.rs
  contracts/solana/programs/attestation/src/instructions/delegated_attest.rs
  contracts/solana/programs/attestation/src/lib.rs
Owners: @daccred/attest

add AttestionData and AtteterInfo
  contracts/solana/programs/attestation/src/state.rs
Owners: @daccred/attest

re org
  contracts/solana/Anchor.toml
  contracts/solana/Cargo.lock
  contracts/solana/programs/attest/Cargo.toml
  contracts/solana/programs/attest/Xargo.toml
  contracts/solana/programs/attest/src/errors.rs
  contracts/solana/programs/attest/src/events.rs
  contracts/solana/programs/attest/src/instructions.rs
  contracts/solana/programs/attest/src/instructions/attest.rs
  contracts/solana/programs/attest/src/instructions/create_schema.rs
  contracts/solana/programs/attest/src/instructions/delegated_attest.rs
  contracts/solana/programs/attest/src/instructions/register_authority.rs
  contracts/solana/programs/attest/src/instructions/revoke.rs
  contracts/solana/programs/attest/src/instructions/verify_authority.rs
  contracts/solana/programs/attest/src/lib.rs
  contracts/solana/programs/attest/src/state.rs
  contracts/solana/programs/attest/src/utils.rs
  contracts/solana/programs/attestation/Cargo.toml
  contracts/solana/programs/attestation/src/consts.rs
  contracts/solana/programs/attestation/src/instructions.rs
  contracts/solana/programs/attestation/src/sdk.rs
  contracts/solana/programs/authority/Cargo.toml
  contracts/solana/programs/authority/Xargo.toml
  contracts/solana/programs/authority/src/constants.rs
  contracts/solana/programs/authority/src/errors.rs
  contracts/solana/programs/authority/src/events.rs
  contracts/solana/programs/authority/src/instructions.rs
  contracts/solana/programs/authority/src/lib.rs
  contracts/solana/programs/authority/src/sdk.rs
  contracts/solana/programs/authority/src/state.rs
  contracts/solana/programs/registry/Xargo.toml
  contracts/solana/programs/registry/src/errors.rs
  contracts/solana/programs/registry/src/events.rs
  contracts/solana/programs/registry/src/instructions.rs
  contracts/solana/programs/registry/src/lib.rs
  contracts/solana/programs/registry/src/state.rs
Owners: @daccred/attest

update deps
  contracts/solana/Anchor.toml
  contracts/solana/programs/attest/Cargo.toml
  contracts/solana/yarn.lock
Owners: @daccred/attest

fix tests
  contracts/solana/programs/attest/src/instructions/attest.rs
  contracts/solana/programs/attest/src/lib.rs
  contracts/solana/tests/test.ts
Owners: @daccred/attest

Re-org contracts
  contracts/stellar/.gitignore
  contracts/stellar/Cargo.toml
  contracts/stellar/attestation/Cargo.toml
  contracts/stellar/attestation/Makefile
  contracts/stellar/attestation/src/lib.rs
  contracts/stellar/authority/Cargo.toml
  contracts/stellar/authority/Makefile
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/schema/Cargo.toml
  contracts/stellar/schema/Makefile
  contracts/stellar/schema/src/lib.rs
  contracts/stellar/src/query_attestation.rs
  contracts/stellar/src/revoke_attestation.rs
Owners: @daccred/attest

remove deprecated solana spl implenmentation
  contracts/__spl/.gitignore
  contracts/__spl/Cargo.lock
  contracts/__spl/Cargo.toml
  contracts/__spl/client.ts
  contracts/__spl/package.json
  contracts/__spl/pnpm-lock.yaml
  contracts/__spl/src/error.rs
  contracts/__spl/src/instruction.rs
  contracts/__spl/src/lib.rs
  contracts/__spl/src/processor.rs
  contracts/__spl/src/state.rs
Owners: @daccred/attest

update the prefooter design for attested items
  apps/www/app/(home)/page.tsx
  apps/www/components/blocks/attested-items.tsx
Owners: @kohasummons, @koolamusic

remove border styles in prefooter
  apps/www/app/(home)/page.tsx
Owners: @kohasummons, @koolamusic

fix authority build and add test
  contracts/stellar/authority/Cargo.toml
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/authority/src/test.rs
Owners: @daccred/attest

update solana js sdk
  .gitignore
  README.md
  contracts/__spl/package.json
  contracts/__spl/yarn.lock
  contracts/solana/Anchor.toml
  contracts/solana/programs/attest/src/lib.rs
  contracts/solana/tests/_expect.ts
  contracts/solana/tests/test.ts
  packages/sdk/package.json
  packages/sdk/src/attestations/index.ts
  packages/sdk/src/core/base.ts
  packages/sdk/src/core/idl.json
  packages/sdk/src/core/index.ts
  packages/sdk/src/core/solana.ts
  packages/sdk/src/core/starknet.ts
  packages/sdk/src/core/stellar.ts
  packages/sdk/src/core/types.ts
  packages/sdk/src/index.ts
  packages/sdk/src/schemas/index.ts
  packages/sdk/test/run.ts
  packages/sdk/test/test-converter.ts
  packages/sdk/yarn.lock
  pnpm-lock.yaml
Owners: @daccred/attest, @pauleke, @koolamusic

add test for schema contract
  contracts/stellar/schema/src/test.rs
Owners: @daccred/attest

update authority test to cover constructor logic
  contracts/stellar/authority/src/test.rs
Owners: @daccred/attest

expose funcs for authority contract
  contracts/stellar/authority/src/lib.rs
Owners: @daccred/attest

refactor schema register func
  contracts/stellar/schema/src/lib.rs
Owners: @daccred/attest

new contracts dir to consolidate schema and attestation implementation
  contracts/stellar/Cargo.toml
  contracts/stellar/contract/.gitignore
  contracts/stellar/contract/Cargo.toml
  contracts/stellar/contract/Makefile
  contracts/stellar/contract/src/lib.rs
  contracts/stellar/contract/src/schema.rs
Owners: @daccred/attest

feat: resolver interface integration for authority and attestation implementations
  contracts/stellar/authority/Makefile
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/authority/src/test.rs
  contracts/stellar/contract/src/lib.rs
  contracts/stellar/contract/src/resolver_interface.rs
  contracts/stellar/schema/Makefile
Owners: @daccred/attest
