Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

chore(solana): update dependencies and remove yarn.lock
  contracts/solana/package.json
  contracts/solana/yarn.lock
Owners: @daccred/attest

refactor(horizon): rename importSchemaEntries to writeSchemaEntries
  apps/horizon/scripts/writeSchemaEntries.ts
Owners: none

docs(horizon): update script references after rename
  apps/horizon/scripts/README.md
  apps/horizon/scripts/checkImportStatus.ts
Owners: none

feat(horizon): auto-enqueue recurring ingestion on startup
  apps/horizon/src/index.ts
Owners: none

chore(horizon): update schema UIDs after contract changes
  apps/horizon/scripts/schemas-education.jsonl
  apps/horizon/scripts/schemas-finance.jsonl
  apps/horizon/scripts/schemas-gpt.jsonl
Owners: none

chore: regenerate pnpm lockfile
  pnpm-lock.yaml
Owners: none

refactor(stellar-sdk): migrate from fetch to ky HTTP client
  packages/stellar-sdk/__tests__/fetch-endpoints.test.ts
  packages/stellar-sdk/__tests__/indexer.test.ts
  packages/stellar-sdk/package.json
  packages/stellar-sdk/src/utils/indexer.ts
  packages/stellar-sdk/tsconfig.json
  pnpm-lock.yaml
Owners: none

fix(stellar): downgrade soroban-sdk to v22.0.8 for stellar-tokens compatibility
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
  contracts/stellar/protocol/Cargo.toml
  contracts/stellar/resolvers/src/token_reward.rs
Owners: @daccred/attest

chore(starknet): disable experimental libfuncs list in contract target
  contracts/starknet/Scarb.toml
Owners: @daccred/attest

refactor(stellar): align ResolverAttestationData with protocol's ResolverAttestation format
  contracts/stellar/resolvers/src/interface.rs
  contracts/stellar/resolvers/src/lib.rs
Owners: @daccred/attest

test(stellar): update resolver test helpers for new ResolverAttestationData structure
  contracts/stellar/authority/tests/payment_and_admin_flow.rs
  contracts/stellar/resolvers/tests/default_resolver.rs
  contracts/stellar/resolvers/tests/fee_collection_resolver.rs
  contracts/stellar/resolvers/tests/token_reward.rs
Owners: @daccred/attest

test(stellar): migrate DummyResolver to protocol ResolverAttestation and add onresolve tests
  contracts/stellar/protocol/tests/protocol_resolver_test.rs
  contracts/stellar/protocol/tests/testutils.rs
Owners: @daccred/attest

chore(stellar): remove debug logging from BLS signature verification
  contracts/stellar/protocol/src/instructions/crypto.rs
Owners: @daccred/attest

chore(stellar): remove unused ResolverConfig import from factory test
  contracts/stellar/resolvers/tests/factory_test.rs
Owners: @daccred/attest

fix(stellar-sdk): correct testnet registry URL to testnet-graph.attest.so
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

chore(stellar-sdk): remove debug console.log statements
  packages/stellar-sdk/src/index.ts
Owners: none

feat(horizon): add transaction hash lookup endpoints for attestations and schemas
  apps/horizon/src/repository/attestations.repository.ts
  apps/horizon/src/repository/schemas.repository.ts
  apps/horizon/src/router/registry.router.ts
Owners: none

test(horizon): add integration tests for transaction hash lookup endpoints
  apps/horizon/__tests__/0.registry-router.integration.test.ts
Owners: none

feat(stellar-sdk): add transaction hash lookup utility functions
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/utils/index.ts
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

refactor(stellar-sdk): simplify client API and add BLS key management
  packages/stellar-sdk/src/attest.ts
  packages/stellar-sdk/src/client.ts
Owners: none

refactor(stellar-sdk): improve type system for schema encoding and delegation
  packages/stellar-sdk/src/common/schemaEncoder.ts
  packages/stellar-sdk/src/delegation.ts
Owners: none

chore(stellar-sdk): configure local development registry URLs
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

feat(horizon): implement two-step transaction hash lookup for attestations and schemas
  apps/horizon/src/repository/attestations.repository.ts
  apps/horizon/src/repository/contract-transactions.repository.ts
  apps/horizon/src/repository/schemas.repository.ts
Owners: none

fix(horizon): replace nodemon with tsx for development server
  apps/horizon/package.json
Owners: none

fix: registry url in testnet indexer
  packages/stellar-sdk/src/utils/indexer.ts
  pnpm-lock.yaml
Owners: none

feat(stellar-sdk): enhance ContractSchema with additional metadata fields
  packages/stellar-sdk/src/types.ts
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

test(stellar-sdk): update BLS key generation tests to expect Uint8Array
  packages/stellar-sdk/__tests__/client.test.ts
Owners: none

test(stellar-sdk): remove OPTION from StellarDataType enum tests
  packages/stellar-sdk/__tests__/simple.test.ts
Owners: none

test(stellar-sdk): handle missing UID in getSchemaByUid API responses
  packages/stellar-sdk/__tests__/indexer.test.ts
Owners: none

feat(stellar-sdk): enhance ContractAttestation with additional metadata fields
  packages/stellar-sdk/src/types.ts
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

docs(changeset): SDK enhancements
  .changeset/sharp-jobs-cheat.md
Owners: none

RELEASING: Releasing 10 package(s)
  .changeset/sharp-jobs-cheat.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.7.8
  package.json
Owners: none

chore: release packages
  pnpm-lock.yaml
Owners: none

chore: Release
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
Owners: @daccred/attest

refactor(stellar): improve deployment script and test organization
  contracts/stellar/.gitignore
  contracts/stellar/__test__/authority.ts
  contracts/stellar/deploy.sh
  contracts/stellar/readme.txt
Owners: @daccred/attest

feat(stellar): add fee config and mainnet deployment
  contracts/stellar/deploy.sh
  contracts/stellar/deployments.json
  contracts/stellar/readme.txt
Owners: @daccred/attest

docs: rewrite documentation to reflect Stellar-focused architecture
  apps/docs/docs.json
  apps/docs/overview.mdx
  apps/docs/quickstart.mdx
Owners: none

feat(horizon): add support for mainnet rpc
  apps/horizon/src/common/constants.ts
Owners: none

feat(horizon): add mainnet schema import scripts
  apps/horizon/scripts/mainnet/README.md
  apps/horizon/scripts/mainnet/importSchema.ts
  apps/horizon/scripts/mainnet/writeSchemaEntries.ts
  apps/horizon/scripts/schemas-identity.jsonl
Owners: none

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic
