Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic

test(stellar): enhance BLS signature hashing and add crypto library documentation
  contracts/stellar/__test__/delegated-attestation.test.ts
Owners: @daccred/attest

docs: update function name from revoke_attestation to revoke in API documentation
  apps/docs/chains/solana/overview.mdx
  apps/docs/chains/stellar/overview.mdx
Owners: none

refactor(stellar): rename revoke_attestation function to revoke for API consistency
  contracts/stellar/protocol/README.md
  contracts/stellar/protocol/src/lib.rs
Owners: @daccred/attest

test(stellar): update contract tests to use renamed revoke function
  contracts/stellar/protocol/tests/protocol_attestation_test.rs
  contracts/stellar/protocol/tests/protocol_resolver_test.rs
  contracts/stellar/protocol/tests/protocol_revocation_test.rs
  contracts/stellar/readme.txt
Owners: @daccred/attest

feat(test): add smart account funding utility to prevent duplicate Friendbot calls
  contracts/stellar/__test__/testutils.ts
Owners: @daccred/attest

test(stellar): enhance integration tests with improved client configuration and account management
  contracts/stellar/__test__/authority.integration.test.ts
  contracts/stellar/__test__/contract-status.test.ts
  contracts/stellar/__test__/delegated-attestation.test.ts
  contracts/stellar/__test__/legacy/protocol.integration.test.mjs
  contracts/stellar/__test__/protocol.integration.test.ts
Owners: @daccred/attest

feat(sdk): update Stellar and Starknet SDK implementations with enhanced functionality
  packages/sdk/package.json
  packages/starknet-sdk/src/starknet-sdk.ts
  packages/stellar-sdk/src/attest.ts
  packages/stellar-sdk/src/authority.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/stellar-sdk.ts
Owners: @pauleke, @koolamusic

chore(stellar) version consistency for @stellar/stellar-sdk
  apps/horizon/package.json
  contracts/stellar/package.json
  packages/cli/package.json
  packages/stellar-sdk/package.json
  pnpm-lock.yaml
Owners: @daccred/attest, @pauleke, @koolamusic

refactor(deps): optimize Stellar SDK dependency management
  contracts/stellar/package.json
  package.json
  packages/cli/package.json
  packages/stellar-sdk/package.json
  pnpm-lock.yaml
Owners: @daccred/attest, @pauleke, @koolamusic

deps(stellar): add js-sha3 dependency for attestation UID generation
  contracts/stellar/__test__/delegated-attestation.integration.test.ts
  contracts/stellar/__test__/protocol-resolver.integration.test.ts
  contracts/stellar/__test__/protocol.integration.test.ts
  contracts/stellar/package.json
  pnpm-lock.yaml
Owners: @daccred/attest

feat(stellar): add cryptographic utilities for attestation and revocation signing
  contracts/stellar/__test__/testutils.ts
Owners: @daccred/attest

test(stellar): enhance delegated attestation tests with improved signing and debugging
  contracts/stellar/__test__/delegated-attestation.integration.test.ts
Owners: @daccred/attest

style(stellar): rename parseEnvFile to _parseEnvFile to indicate private function
  contracts/stellar/__test__/testutils.ts
Owners: @daccred/attest

test(stellar): fix delegated revocation flow and client instantiation
  contracts/stellar/__test__/delegated-attestation.integration.test.ts
Owners: @daccred/attest

test(stellar): add cross-platform attestation UID compatibility verification
  contracts/stellar/__test__/contract-status.test.ts
  contracts/stellar/protocol/tests/protocol_attestation_test.rs
Owners: @daccred/attest

fix(stellar): correct BLS signature hashing for revocation messages
  contracts/stellar/__test__/testutils.ts
Owners: @daccred/attest

fix(stellar): improve BLS key retrieval and error handling
  contracts/stellar/__test__/delegated-attestation.integration.test.ts
  contracts/stellar/bindings/src/protocol.ts
  contracts/stellar/bindings/src/types.ts
  contracts/stellar/protocol/src/instructions/crypto.rs
  contracts/stellar/protocol/src/lib.rs
  contracts/stellar/protocol/tests/protocol_attestation_test.rs
  contracts/stellar/protocol/tests/protocol_cryptography_test.rs
Owners: @daccred/attest

feat(stellar): add factory module to resolver library
  contracts/stellar/resolvers/Cargo.toml
  contracts/stellar/resolvers/src/lib.rs
Owners: @daccred/attest

feat(stellar): implement resolver factory with configuration registry
  contracts/stellar/resolvers/src/factory.rs
Owners: @daccred/attest

test(stellar): add comprehensive factory pattern test suite
  contracts/stellar/resolvers/tests/factory_test.rs
Owners: @daccred/attest

docs(stellar): add comprehensive factory pattern implementation guide
  contracts/stellar/resolvers/FACTORY_PATTERN_GUIDE.md
Owners: @daccred/attest

style(stellar): remove unused import from integration test
  contracts/stellar/__test__/delegated-attestation.integration.test.ts
Owners: @daccred/attest

docs(naming): update conventions to reflect Stellar implementation structure
  NAMING.md
Owners: none

docs(readme): update project documentation with current architecture and implementation details
  README.md
Owners: none

docs(security): replace template with comprehensive security guidelines for attestation protocol
  SECURITY.md
Owners: none

perf(horizon): remove unused transaction include from operations query
  apps/horizon/src/router/data.router.ts
Owners: none

refactor(horizon): remove unused database tables and related functionality
  apps/horizon/prisma/schema.prisma
  apps/horizon/src/common/db.ts
  apps/horizon/src/common/queue.ts
  apps/horizon/src/repository/contracts.repository.ts
  apps/horizon/src/repository/effects.repository.ts
  apps/horizon/src/repository/payments.repository.ts
  apps/horizon/src/repository/transactions.repository.ts
  apps/horizon/src/router/data.router.ts
Owners: none

refactor(horizon): rename horizon_contract_operations table to horizon_operations
  apps/horizon/prisma/migrations/20250827_rename_operations_table/migration.sql
  apps/horizon/prisma/schema.prisma
  apps/horizon/src/repository/contracts.repository.ts
  apps/horizon/src/repository/operations.repository.ts
  apps/horizon/src/router/analytics.router.ts
  apps/horizon/src/router/data.router.ts
Owners: none

refactor(horizon): add route constants and simplify ingest endpoints
  apps/horizon/src/repository/operations.repository.ts
  apps/horizon/src/router/analytics.router.ts
  apps/horizon/src/router/data.router.ts
  apps/horizon/src/router/ingest.router.ts
  apps/horizon/src/router/system.router.ts
Owners: none

style(stellar): improve code formatting and consistency across protocol and resolvers
  contracts/stellar/protocol/src/events.rs
  contracts/stellar/protocol/src/interfaces/resolver.rs
  contracts/stellar/protocol/tests/protocol_attestation_test.rs
  contracts/stellar/protocol/tests/protocol_cryptography_test.rs
  contracts/stellar/protocol/tests/protocol_delegation_test.rs
  contracts/stellar/protocol/tests/protocol_resolver_test.rs
  contracts/stellar/protocol/tests/testutils.rs
  contracts/stellar/resolvers/src/default.rs
  contracts/stellar/resolvers/src/factory.rs
  contracts/stellar/resolvers/src/fee_collection.rs
  contracts/stellar/resolvers/src/interface.rs
  contracts/stellar/resolvers/src/token_reward.rs
  contracts/stellar/resolvers/tests/factory_test.rs
Owners: @daccred/attest

feat(horizon): add registry infrastructure for attestations and schemas
  apps/horizon/src/repository/attestations.repository.ts
  apps/horizon/src/repository/schemas.repository.ts
  apps/horizon/src/router/registry.router.ts
Owners: none

test(horizon): add comprehensive test suite for registry and backfill
  apps/horizon/__tests__/backfill.integration.test.ts
  apps/horizon/__tests__/fixtures/setup.ts
  apps/horizon/__tests__/registry.router.test.ts
Owners: none

refactor(horizon): update database schema for attestations and schemas
  apps/horizon/prisma/schema.prisma
Owners: none

refactor(horizon): integrate registry router and update core infrastructure
  apps/horizon/src/app.ts
  apps/horizon/src/common/constants.ts
  apps/horizon/src/common/errors.ts
  apps/horizon/src/repository/operations.repository.ts
Owners: none

refactor(horizon): enhance test infrastructure and mock data
  apps/horizon/__tests__/fixtures/test-data.ts
  apps/horizon/__tests__/setup.ts
Owners: none

test(horizon): restructure endpoint tests with improved organization
  apps/horizon/__tests__/endpoints.test.ts
  apps/horizon/vitest.config.ts
Owners: none

refactor(horizon): remove obsolete test files after reorganization
  apps/horizon/__tests__/events.test.ts
  apps/horizon/__tests__/ingest.test.ts
  apps/horizon/__tests__/integration/api.integration.test.ts
  apps/horizon/__tests__/transactions.test.ts
Owners: none

test(horizon): checkpoint with backfill and data normalization
  apps/horizon/__tests__/backfill.integration.test.ts
  apps/horizon/vitest.config.ts
Owners: none

fix(horizon): replace manual findUnique+create with atomic upsert operations
  apps/horizon/__tests__/upsert.integration.test.ts
  apps/horizon/src/repository/operations.repository.ts
  apps/horizon/src/repository/transactions.repository.ts
  apps/horizon/vitest.config.ts
Owners: none

fix(horizon): enhance multi-contract event indexing and test infrastructure
  apps/horizon/__tests__/backfill.integration.test.ts
  apps/horizon/__tests__/fixtures/integration-setup.ts
  apps/horizon/__tests__/fixtures/unit-setup.ts
  apps/horizon/package.json
  apps/horizon/src/common/constants.ts
  apps/horizon/src/repository/contracts.repository.ts
  apps/horizon/src/repository/events.repository.ts
  apps/horizon/vitest.config.ts
Owners: none
