Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

fix: package name in cargo.toml
  contracts/stellar/protocol/Cargo.toml
Owners: @daccred/attest

add env.sh variant to gitignore
  contracts/stellar/.gitignore
  pnpm-lock.yaml
Owners: @daccred/attest

fix: build script in sdk pipeline
  packages/sdk/package.json
  packages/stellar-cli/src/handlers/stellar.ts
Owners: @pauleke, @koolamusic

feat: (wip) horizon indexer
  apps/horizon-indexer/index.js
  apps/horizon-indexer/package.json
  contracts/stellar/.env.example
Owners: @daccred/attest

fix: broken links and svg imports in docs page
  apps/www/app/(home)/layout.tsx
  apps/www/app/(home)/page.tsx
  apps/www/assets/Stellar.svg
  apps/www/assets/aquarius.svg
  apps/www/assets/icons.tsx
  apps/www/assets/logos/aptos.svg
  apps/www/assets/logos/cosmos.svg
  apps/www/assets/logos/starknet.svg
  apps/www/assets/logos/sui.svg
  apps/www/assets/stellardash.svg
  apps/www/assets/zettablock.svg
  apps/www/components/blocks/header.tsx
  apps/www/package.json
  apps/www/public/attest-full.svg
  apps/www/tsconfig.json
  pnpm-lock.yaml
Owners: @kohasummons, @koolamusic

ci(www): fix layout does not match the required types of a Next.js Layout
  apps/www/app/(home)/layout.tsx
Owners: @kohasummons, @koolamusic

fix: (npmjs) make packages public
  packages/sdk/package.json
  packages/stellar-cli/package.json
Owners: @pauleke, @koolamusic

ci: explicit set root package visibility to public
  apps/www/package.json
  contracts/solana/package.json
  package.json
Owners: @kohasummons, @koolamusic, @daccred/attest

fix(sdk): remove SorobanRpc imports in updated SDK versions
  apps/horizon-indexer/package.json
  packages/sdk/src/core/stellar.ts
Owners: @pauleke, @koolamusic

Release 1.3.0
  package.json
Owners: none

ci: fix package.json and lock file resolution issues
  apps/horizon-indexer/package.json
  apps/www/package.json
  contracts/solana/package.json
  contracts/starknet/package.json
  contracts/stellar/package.json
  package.json
  packages/sdk/package.json
  packages/solana-cli/package.json
  packages/starknet-cli/package.json
  packages/stellar-cli/package.json
  pnpm-lock.yaml
Owners: @kohasummons, @koolamusic, @daccred/attest, @pauleke

Refactor code structure for improved readability and maintainability
  contracts/starknet/Scarb.lock
  contracts/stellar/package.json
  contracts/stellar/test/protocol.integration.test.mjs
  packages/sdk/README.md
  packages/sdk/jsr.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/src/core/base.ts
  packages/sdk/src/core/stellar.ts
  packages/sdk/src/core/types.ts
  packages/sdk/src/index.ts
  packages/sdk/test/run-stellar.ts
  packages/sdk/test/test-converter.ts
  packages/sdk/tsconfig.json
  packages/sdk/yarn.lock
  pnpm-lock.yaml
Owners: @daccred/attest, @pauleke, @koolamusic

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: none

Notes added by 'git notes add'
  c413a93da3bb163e5c59fd791a2c37914b36a305
Owners: none

docs: update README to reflect multi-chain support and enhance usage examples
  packages/sdk/README.md
Owners: @pauleke, @koolamusic

ci: bump version in package.json for sdk and cli
  package.json
  packages/sdk/package.json
  packages/sdk/src/core/stellar.ts
  packages/solana-cli/package.json
  packages/starknet-cli/package.json
  packages/stellar-cli/package.json
  pnpm-lock.yaml
Owners: @pauleke, @koolamusic

feat: initialize new horizon indexer server
  apps/README.md
  apps/horizon-indexer/package.json
  apps/horizon/.env.sample
  apps/horizon/.eslintrc
  apps/horizon/.gitignore
  apps/horizon/README.md
  apps/horizon/package.json
  apps/horizon/src/api/emojis.ts
  apps/horizon/src/api/index.ts
  apps/horizon/src/app.ts
  apps/horizon/src/index.mjs
  apps/horizon/src/index.ts
  apps/horizon/src/interfaces/ErrorResponse.ts
  apps/horizon/src/interfaces/MessageResponse.ts
  apps/horizon/src/middlewares.ts
  apps/horizon/tsconfig.json
  pnpm-lock.yaml
Owners: none

fix: (dependabot) security alert issue with sdk lock versions
  contracts/solana/tests/test.ts
  packages/sdk/package-lock.json
  pnpm-lock.yaml
Owners: @daccred/attest, @pauleke, @koolamusic

fix: set production mode in sdk webpack config
  packages/sdk/webpack.config.js
Owners: @pauleke, @koolamusic

wip: horizon indexer
  apps/horizon/package.json
  apps/horizon/src/api/horizon.ts
  apps/horizon/src/app.ts
  apps/horizon/src/index.mjs
  apps/horizon/src/index.ts
Owners: none

wip: horizon indexer implementation
  apps/horizon/package.json
  apps/horizon/src/api/horizon.ts
  apps/horizon/src/api/index.ts
  contracts/stellar/test/protocol.integration.test.mjs
  pnpm-lock.yaml
Owners: @daccred/attest

feat: horizon api with event ingester
  apps/horizon/src/api/horizon.ts
  apps/horizon/src/app.ts
Owners: none

feat: integration testing for indexer events
  apps/horizon/.eslintrc
  apps/horizon/package.json
  apps/horizon/tests/horizon.test.ts
  apps/horizon/tests/setup.ts
  apps/horizon/vitest.config.ts
  pnpm-lock.yaml
Owners: none

fix(soroban): disable authority requirement in schema attestation workflow
  contracts/stellar/protocol/src/events.rs
  contracts/stellar/protocol/src/instructions/attest.rs
  contracts/stellar/protocol/src/instructions/schema.rs
  contracts/stellar/protocol/src/tests.rs
Owners: @daccred/attest

fix(soroban): add event logging to protocol tests
  contracts/stellar/protocol/Makefile
  contracts/stellar/protocol/src/tests.rs
Owners: @daccred/attest

fix(soroban): events assertion in tests
  contracts/stellar/protocol/src/tests.rs
Owners: @daccred/attest

chore(tests): add bin script and update runners
  apps/horizon/package.json
  contracts/stellar/package.json
  package.json
  packages/sdk/src/core/solana.ts
  packages/solana-cli/package.json
  packages/starknet-cli/package.json
  packages/stellar-cli/package.json
  scripts/test-runner.js
Owners: @daccred/attest, @pauleke, @koolamusic

fix: correct attestation variable naming
  contracts/starknet/src/SAS.cairo
Owners: @daccred/attest

feat(cli): set network passphrase
  packages/stellar-cli/src/handlers/stellar.ts
Owners: none

docs: correct _getUID doc comment
  contracts/starknet/src/SAS.cairo
Owners: @daccred/attest

test: add converter tests and script
  packages/sdk/package.json
  packages/sdk/test/converter.test.js
  packages/sdk/test/test-converter.ts
Owners: @pauleke, @koolamusic

chore: add jsdoc to converter tests
  packages/sdk/package.json
  packages/sdk/test/converter.test.js
  packages/sdk/test/test-converter.ts
Owners: @pauleke, @koolamusic

feat: horizon indexer with improved contract event implementation and integration test updates
  apps/horizon/README.md
  apps/horizon/__tests__/horizon.test.ts
  apps/horizon/__tests__/setup.ts
  apps/horizon/src/api/horizon.ts
  apps/horizon/src/api/index.ts
  apps/horizon/src/api/indexer/api.ts
  apps/horizon/src/api/indexer/constants.ts
  apps/horizon/src/api/indexer/db.ts
  apps/horizon/src/api/indexer/ledger.ts
  apps/horizon/vitest.config.ts
  contracts/stellar/.gitignore
  contracts/stellar/deployments.json
  contracts/stellar/readme.txt
  contracts/stellar/test/authority.integration.test.mjs
  contracts/stellar/test/protocol.integration.test.mjs
Owners: @daccred/attest

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: none

Notes added by 'git notes add'
  56010fa6d831ff7864e4e7408cd0bf05d33384e0
Owners: none

Release 1.4.1
  package.json
Owners: none

Release 1.4.2
  package.json
Owners: none

docs(changeset): version control for packages
  .changeset/README.md
  .changeset/config.json
  .changeset/huge-bats-battle.md
  apps/horizon/package.json
  apps/www/package.json
  contracts/solana/package.json
  contracts/stellar/package.json
  package.json
  packages/sdk/package.json
  packages/solana-cli/package.json
  packages/starknet-cli/package.json
  packages/stellar-cli/package.json
  pnpm-lock.yaml
Owners: @kohasummons, @koolamusic, @daccred/attest, @pauleke

update package reference in changeset config
  .changeset/config.json
  contracts/solana/package.json
  contracts/starknet/package.json
  contracts/stellar/package.json
Owners: @daccred/attest

1.4.3
  package.json
Owners: none

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic
