Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

1.5.0
  package.json
Owners: none

1.6.0
  package.json
Owners: none

1.7.0
  package.json
Owners: none

docs(changeset): changeset minor
  .changeset/cruel-rice-lead.md
Owners: none

sync workspace package versions
  contracts/stellar/package.json
  package.json
Owners: @daccred/attest

docs(version): sync package versions and visibility
  apps/www/package.json
  contracts/solana/package.json
  contracts/starknet/package.json
  packages/sdk/package.json
  packages/solana-cli/package.json
  packages/starknet-cli/package.json
  packages/stellar-cli/package.json
Owners: @kohasummons, @koolamusic, @daccred/attest, @pauleke

docs(changeset): bump version
  .changeset/giant-foxes-follow.md
Owners: none

- 16e482d: changeset minor - b2092fe: bump version - 2648084: version control for packages
  .changeset/config.json
  .changeset/cruel-rice-lead.md
  .changeset/giant-foxes-follow.md
  .changeset/huge-bats-battle.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-cli/CHANGELOG.md
  packages/solana-cli/package.json
  packages/starknet-cli/CHANGELOG.md
  packages/starknet-cli/package.json
  packages/stellar-cli/CHANGELOG.md
  packages/stellar-cli/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

docs(changeset): patch changeset config
  .changeset/quick-kids-stay.md
Owners: none

docs(changeset): patch changeset config
  .changeset/config.json
  .changeset/tough-experts-attack.md
  .releaserc.json
  package.json
Owners: none

RELEASING: Releasing 7 package(s)
  .changeset/quick-kids-stay.md
  .changeset/tough-experts-attack.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-cli/CHANGELOG.md
  packages/solana-cli/package.json
  packages/starknet-cli/CHANGELOG.md
  packages/starknet-cli/package.json
  packages/stellar-cli/CHANGELOG.md
  packages/stellar-cli/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

docs(changeset): bump minor
  .changeset/common-crews-cross.md
Owners: none

ci(root): use package version in root for lockfile tracking
  package.json
Owners: none

docs(changeset): root package lockfile tracking and changelogs
  .changeset/moody-poems-chew.md
Owners: none

RELEASING: Releasing 7 package(s)
  .changeset/common-crews-cross.md
  .changeset/moody-poems-chew.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-cli/CHANGELOG.md
  packages/solana-cli/package.json
  packages/starknet-cli/CHANGELOG.md
  packages/starknet-cli/package.json
  packages/stellar-cli/CHANGELOG.md
  packages/stellar-cli/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.5.0
  package.json
Owners: none

docs(changeset): patch npm publish config for modules
  .changeset/clear-bats-matter.md
  contracts/solana/package.json
  contracts/stellar/package.json
  package.json
  packages/sdk/package.json
  packages/solana-cli/package.json
  packages/starknet-cli/package.json
  packages/stellar-cli/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

RELEASING: Releasing 6 package(s)
  .changeset/clear-bats-matter.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-cli/CHANGELOG.md
  packages/solana-cli/package.json
  packages/starknet-cli/CHANGELOG.md
  packages/starknet-cli/package.json
  packages/stellar-cli/CHANGELOG.md
  packages/stellar-cli/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.5.1
  package.json
Owners: none

chore: Release
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
Owners: @daccred/attest

ci(stellar): add config for cargo release
  contracts/stellar/Release.toml
Owners: @daccred/attest

ci(stellar): enable sign tags for releases
  contracts/stellar/Release.toml
Owners: @daccred/attest

docs(root): add script for cargo release on stellar soroban contracts
  package.json
Owners: none

ci(stellar): bump version in soroban contracts
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
  contracts/stellar/Release.toml
Owners: @daccred/attest

fix: update release:stellar script to accept version argument
  package.json
Owners: none

chore: Release
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
Owners: @daccred/attest

docs(changeset): bump
  .changeset/true-crabs-clap.md
Owners: none

RELEASING: Releasing 7 package(s)
  .changeset/true-crabs-clap.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-cli/CHANGELOG.md
  packages/solana-cli/package.json
  packages/starknet-cli/CHANGELOG.md
  packages/starknet-cli/package.json
  packages/stellar-cli/CHANGELOG.md
  packages/stellar-cli/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.5.2
  package.json
Owners: none

fix(horizon): align collection and add tests
  apps/horizon/.env.sample
  apps/horizon/__tests__/horizon.test.ts
  apps/horizon/package.json
  apps/horizon/src/api/indexer/db.ts
Owners: none

docs: update external reference links in README
  README.md
Owners: none

resolve pnpm lockfile issue
  pnpm-lock.yaml
Owners: none

fix(horizon): align collection and add tests
  apps/horizon/.env.sample
  apps/horizon/__tests__/horizon.test.ts
  apps/horizon/package.json
  apps/horizon/src/api/indexer/db.ts
Owners: none

feat(horizon): handle datastore interactions with prisma
  apps/horizon/package.json
  apps/horizon/prisma/schema.prisma
  apps/horizon/src/api/indexer/api.ts
  apps/horizon/src/api/indexer/db.ts
  apps/horizon/src/api/indexer/ledger.ts
  apps/horizon/src/api/indexer/prisma.ts
  pnpm-lock.yaml
Owners: none

feat(horizon): model transaction and event data for protocol SC topics
  apps/horizon/package.json
  apps/horizon/prisma/schema.prisma
  apps/horizon/src/api/indexer/api.ts
  apps/horizon/src/api/indexer/db.ts
  apps/horizon/src/api/indexer/ledger.ts
  apps/horizon/src/api/indexer/prisma.ts
Owners: none

add db scripts for interactions
  apps/horizon/scripts/mock-mongo.mjs
  apps/horizon/scripts/mock-prisma.js
Owners: none

fix(horizon): refactor db client to use class for handling operations
  apps/horizon/prisma/schema.prisma
  apps/horizon/scripts/mock-dbc.ts
  apps/horizon/src/api/indexer/db.ts
Owners: none

feat: add Claude Code integration and project documentation
  .claude-sync-config.json
  .claude/commands/CHANGELOG.md
  .claude/commands/README.md
  .claude/commands/auto-commit.md
  .claude/commands/cc.md
  .claude/commands/issues.md
  .claude/commands/plan.md
  .claude/commands/query.md
  .claude/commands/resolve-pr-comments.md
  .claude/commands/triage.md
  .claude/commands/work.md
  CLAUDE.md
Owners: none

feat(docs): add Mintlify documentation site
  apps/docs/concepts/attestations.mdx
  apps/docs/docs.json
  apps/docs/getting-started/installation.mdx
  apps/docs/getting-started/your-first-attestation.mdx
  apps/docs/images/logo-dark.svg
  apps/docs/images/logo-light.svg
  apps/docs/introduction.mdx
  apps/docs/package.json
  apps/docs/quickstart.mdx
  apps/docs/reference/endpoints/attest.mdx
  apps/docs/sdks/typescript/methods.mdx
  package.json
  pnpm-lock.yaml
Owners: none

docs: add telegram webhook integration planning document
  telegram-webhook-plan.md
Owners: none

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic
