Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic

refactor(stellar): modernize module system and fix import paths
  contracts/stellar/package.json
  packages/core/src/types.ts
  packages/core/tsconfig.json
  packages/stellar-sdk/src/attest.ts
  packages/stellar-sdk/src/authority.ts
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/schema.ts
  packages/stellar-sdk/src/utils/delegation.ts
  packages/stellar-sdk/tsconfig.json
Owners: @daccred/attest

refactor(stellar-sdk): simplify return types and fix delegation imports
  packages/stellar-sdk/src/attest.ts
  packages/stellar-sdk/src/authority.ts
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/delegation.ts
  packages/stellar-sdk/src/schema.ts
  packages/stellar-sdk/src/types.ts
  packages/stellar-sdk/src/utils/index.ts
Owners: none

fix(stellar-sdk): convert expiration_time to BigInt in client tests
  packages/stellar-sdk/__tests__/client.test.ts
Owners: none

improve(horizon): enhance error logging in repository methods
  apps/horizon/src/repository/attestations.repository.ts
  apps/horizon/src/repository/schemas.repository.ts
Owners: none

chore: release packages
  pnpm-lock.yaml
Owners: none

chore: Release
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
Owners: @daccred/attest

docs(changeset): sdk API standardization
  .changeset/ninety-paws-shave.md
Owners: none

RELEASING: Releasing 10 package(s)
  .changeset/ninety-paws-shave.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.7.2
  package.json
Owners: none

style(stellar): reorder package.json fields for consistency
  contracts/stellar/package.json
Owners: @daccred/attest

fix(deps): sync pnpm lockfile version specifiers to 1.7.2
  pnpm-lock.yaml
Owners: none

improve(sdk): update TypeScript config for better bundler compatibility
  packages/sdk/tsconfig.json
Owners: @pauleke, @koolamusic

test(stellar-sdk): add comprehensive fetch endpoints test suite
  packages/stellar-sdk/__tests__/fetch-endpoints.test.ts
Owners: none

refactor(stellar-sdk): remove offset parameter and enforce 100 item limit
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/types.ts
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

test(stellar-sdk): add real API integration tests for fetch endpoints
  packages/stellar-sdk/__tests__/fetch-endpoints-real.test.ts
Owners: none

docs(stellar-sdk): add comprehensive LLM documentation and build integration
  packages/stellar-sdk/llm.txt
  packages/stellar-sdk/package.json
  packages/stellar-sdk/tsup.config.ts
Owners: none

docs(changeset): sdk export update with llm TXT doc gen
  .changeset/some-facts-watch.md
Owners: none

RELEASING: Releasing 10 package(s)
  .changeset/some-facts-watch.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.7.2-1
  package.json
Owners: none

chore(deps): update horizon dependencies and lockfile
  apps/horizon/package.json
  pnpm-lock.yaml
Owners: none

refactor(stellar): rename @attestprotocol/stellar to @attestprotocol/stellar-contracts
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
  packages/stellar-sdk/src/attest.ts
  packages/stellar-sdk/src/authority.ts
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/delegation.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/schema.ts
  pnpm-lock.yaml
Owners: @daccred/attest

docs(changeset): fix npm resolution for sub-dependencies in stellar sdk
  .changeset/hot-dancers-itch.md
Owners: none

RELEASING: Releasing 10 package(s)
  .changeset/hot-dancers-itch.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

ci: bump version
  package.json
Owners: none

chore: release packages
  pnpm-lock.yaml
Owners: none

fix(deps): move typescript to production deps and downgrade to 5.8.2 in horizon
  apps/horizon/package.json
  pnpm-lock.yaml
Owners: none

build(release): add core and stellar-contracts packages to release script
  scripts/release.sh
Owners: none

docs(stellar-sdk): update README with comprehensive API documentation
  packages/stellar-sdk/README.md
Owners: none

config(stellar-sdk): update testnet registry endpoint to production URL
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

docs(changeset): sdk references, update wash hash and contract spec with graph URL
  .changeset/sweet-camels-mix.md
Owners: none

RELEASING: Releasing 10 package(s)
  .changeset/sweet-camels-mix.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.7.5
  package.json
Owners: none

chore: release packages
  apps/horizon/prisma/schema.prisma
  pnpm-lock.yaml
Owners: none

feat(horizon): add category and featured fields to schemas table
  apps/horizon/prisma/migrations/20250906165051_schema_categories/migration.sql
  apps/horizon/prisma/schema.prisma
  packages/stellar-sdk/README.md
Owners: none

docs(stellar-sdk): enhance README with workflows section and API improvements
  packages/stellar-sdk/README.md
Owners: none

ci: bump sdk version to beta for @stellar-sdk
  packages/stellar-sdk/package.json
Owners: none

feat(horizon): bootstrap contracts with base schema data and categories
  apps/horizon/scripts/bootstrap-schema.mjs
  packages/stellar-sdk/README.md
Owners: none

refactor(stellar-sdk): streamline schema definitions and reorganize test utilities
  packages/stellar-sdk/__tests__/testutils/keypairs.ts
  packages/stellar-sdk/__tests__/testutils/placeholders.ts
  packages/stellar-sdk/__tests__/testutils/standardizedSchemas.ts
  packages/stellar-sdk/__tests__/testutils/validators.ts
  packages/stellar-sdk/examples/commonSchemas.ts
  packages/stellar-sdk/examples/multipleSchemaCreation.ts
  packages/stellar-sdk/src/__tests__/.gitkeep
  packages/stellar-sdk/src/common/schemaEncoder.ts
  packages/stellar-sdk/src/utils/dataCodec.ts
  packages/stellar-sdk/tsconfig.json
Owners: none

refactor(stellar-sdk): reorganize schema definitions and add schema initialization script
  apps/horizon/package.json
  apps/horizon/scripts/bootstrap-schema.mjs
  apps/horizon/scripts/init-schema.ts
  packages/cli/package.json
  packages/stellar-sdk/src/common/schemaEncoder.ts
  pnpm-lock.yaml
Owners: @pauleke, @koolamusic

chore(horizon): comment out schema initialization main function
  apps/horizon/scripts/init-schema.ts
Owners: none
