Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

feat: add whitepaper package
  packages/solana-cli/package.json
  packages/whitepaper/attestprotocol.tex
  packages/whitepaper/attestprotocol_whitepaper25072025.pdf
  pnpm-lock.yaml
Owners: none

docs: update navigation structure and add main overview page
  apps/docs/docs.json
  apps/docs/overview.mdx
Owners: none

docs: add core concepts documentation for authorities and schemas
  apps/docs/concepts/authorities.mdx
  apps/docs/concepts/schemas.mdx
Owners: none

docs: add comprehensive guide documentation with use cases and workflows
  apps/docs/guides/dao-voting.mdx
  apps/docs/guides/event-attendance.mdx
  apps/docs/guides/how-it-works.mdx
  apps/docs/guides/kyc-integration.mdx
  apps/docs/guides/use-cases.mdx
  apps/docs/guides/what-is-attestprotocol.mdx
  apps/docs/guides/why-attestations.mdx
Owners: none

docs: enhance SDK documentation with visual components and comprehensive examples
  apps/docs/sdks/cli.mdx
  apps/docs/sdks/delegated-signatories.mdx
  apps/docs/sdks/typescript/examples.mdx
  apps/docs/sdks/typescript/initialization.mdx
  apps/docs/sdks/typescript/installation.mdx
  apps/docs/sdks/typescript/methods.mdx
Owners: none

docs: add comprehensive API reference documentation with visual enhancements
  apps/docs/reference/administration.mdx
  apps/docs/reference/attest.mdx
  apps/docs/reference/authority.mdx
  apps/docs/reference/errors.mdx
  apps/docs/reference/overview.mdx
  apps/docs/reference/schema.mdx
  apps/docs/reference/webhooks.mdx
Owners: none

docs: enhance quickstart guide with visual components and improved content structure
  apps/docs/introduction.mdx
  apps/docs/quickstart.mdx
  apps/docs/reference/endpoints/attest.mdx
Owners: none

Update documentation and SDK setup for AttestProtocol
  apps/docs/concepts/attestations.mdx
  apps/docs/concepts/authorities.mdx
  apps/docs/concepts/schemas.mdx
  apps/docs/concepts/storage.mdx
  apps/docs/concepts/verification.mdx
  apps/docs/docs.json
  apps/docs/getting-started/installation.mdx
  apps/docs/getting-started/your-first-attestation.mdx
  apps/docs/overview.mdx
  package.json
Owners: none

docs: update build:docs script to include a build message
  package.json
Owners: none

feat: add Tectonic-based whitepaper build system
  .gitignore
  contracts/stellar/authority/Cargo.toml
  contracts/stellar/protocol/Cargo.toml
  contracts/whitepaper/.gitignore
  contracts/whitepaper/Cargo.lock
  contracts/whitepaper/Cargo.toml
  contracts/whitepaper/Makefile
  contracts/whitepaper/Tectonic.toml
  contracts/whitepaper/attestprotocol.pdf
  contracts/whitepaper/attestprotocol.tex
  contracts/whitepaper/attestprotocol_whitepaper25072025.pdf
  contracts/whitepaper/package.json
  contracts/whitepaper/src/main.rs
  contracts/whitepaper/whitepaper.glo
  contracts/whitepaper/whitepaper.idx
  contracts/whitepaper/whitepaper.ist
  contracts/whitepaper/whitepaper.pdf
  contracts/whitepaper/whitepaper.tex
  packages/.gitignore
  packages/solana-cli/.gitignore
  packages/starknet-cli/.gitignore
Owners: @daccred/attest

build(whitepaper): Use Tectonic CLI directly for PDF generation
  contracts/whitepaper/Cargo.lock
  contracts/whitepaper/Cargo.toml
  contracts/whitepaper/Makefile
  contracts/whitepaper/Tectonic.toml
  contracts/whitepaper/attestprotocol.pdf
  contracts/whitepaper/attestprotocol.tex
  contracts/whitepaper/attestprotocol_whitepaper25072025.pdf
  contracts/whitepaper/release/attestprotocol.pdf
  contracts/whitepaper/release/attestprotocol_20250725.pdf
  contracts/whitepaper/release/whitepaper.glo
  contracts/whitepaper/release/whitepaper.idx
  contracts/whitepaper/release/whitepaper.ist
  contracts/whitepaper/src/main.rs
  contracts/whitepaper/whitepaper.pdf
Owners: @daccred/attest

docs: add blockchain brand assets
  apps/docs/images/solana-dark.svg
  apps/docs/images/solana-light.svg
  apps/docs/images/starknet-dark.svg
  apps/docs/images/starknet-light.svg
  apps/docs/images/stellar-dark.svg
  apps/docs/images/stellar-light.svg
  apps/docs/images/sui-dark.svg
  apps/docs/images/sui-light.svg
Owners: none

docs: add comprehensive blockchain overview pages
  apps/docs/chains/solana/overview.mdx
  apps/docs/chains/starknet/overview.mdx
  apps/docs/chains/stellar/overview.mdx
Owners: none

docs: standardize blockchain card styling with chain logos
  apps/docs/overview.mdx
Owners: none

docs: add comprehensive workflow guides
  apps/docs/guides/asset-ownership.mdx
  apps/docs/guides/custom-schemas.mdx
  apps/docs/guides/github-credentials.mdx
  apps/docs/guides/privacy-options.mdx
Owners: none

docs: enhance guides and core concepts with visual components
  apps/docs/concepts/attestations.mdx
  apps/docs/concepts/authorities.mdx
  apps/docs/concepts/schemas.mdx
  apps/docs/concepts/storage.mdx
  apps/docs/concepts/verification.mdx
  apps/docs/docs.json
  apps/docs/guides/dao-voting.mdx
  apps/docs/guides/event-attendance.mdx
  apps/docs/guides/kyc-integration.mdx
Owners: none

chore: update package dependencies for documentation
  apps/docs/package.json
  package.json
Owners: none

docs: fix code block formatting in asset ownership, custom schemas, github credentials, and privacy options guides
  apps/docs/guides/asset-ownership.mdx
  apps/docs/guides/custom-schemas.mdx
  apps/docs/guides/github-credentials.mdx
  apps/docs/guides/privacy-options.mdx
Owners: none

chore(stellar): update wasm target for rust v1.88
  contracts/stellar/authority/Makefile
  contracts/stellar/deploy.sh
  contracts/stellar/deployments.json
  contracts/stellar/protocol/Makefile
  pnpm-lock.yaml
Owners: @daccred/attest

fix(whitepaper): resolve PDF build issues and add date suffix
  contracts/stellar/deployments.json
  contracts/stellar/test/authority.integration.test.mjs
  contracts/stellar/test/protocol.integration.test.mjs
  contracts/stellar/test/readme.md
  contracts/stellar/test/setup.mjs
  pnpm-lock.yaml
Owners: @daccred/attest

setup bindings exports for stellar types
  contracts/stellar/bindings/README.md
  contracts/stellar/bindings/authority.ts
  contracts/stellar/package.json
  contracts/stellar/readme.txt
  contracts/stellar/scripts/authority.mjs
  contracts/stellar/scripts/protocol.mjs
  contracts/stellar/test/authority.integration.test.mjs
  contracts/whitepaper/Makefile
  pnpm-lock.yaml
Owners: @daccred/attest

feat(stellar): bindings for protocol and authority implementation
  contracts/stellar/.env.example
  contracts/stellar/bindings/.gitignore
  contracts/stellar/bindings/README.md
  contracts/stellar/bindings/authority.md
  contracts/stellar/bindings/protocol.md
  contracts/stellar/bindings/src/authority.ts
  contracts/stellar/bindings/src/protocol.ts
  contracts/stellar/bindings/tsconfig.json
  contracts/stellar/package.json
  contracts/stellar/readme.txt
  contracts/whitepaper/Cargo.lock
  contracts/whitepaper/Cargo.toml
  pnpm-lock.yaml
Owners: @daccred/attest

feat(stellar): add TypeScript bindings generation to deploy script
  contracts/stellar/bindings/README.md
  contracts/stellar/bindings/src/authority.md
  contracts/stellar/bindings/src/authority.ts
  contracts/stellar/bindings/src/protocol.md
  contracts/stellar/bindings/src/protocol.ts
  contracts/stellar/bindings/tsconfig.json
  contracts/stellar/deploy.sh
  contracts/stellar/deployments.json
  contracts/stellar/readme.txt
  contracts/stellar/tsconfig.json
Owners: @daccred/attest

refactor(sdk): restructure SDK to separate chain-specific implementations
  packages/sdk/src/core/base.ts
  packages/sdk/src/core/idl.json
  packages/sdk/src/core/solana.ts
  packages/sdk/src/core/starknet.ts
  packages/sdk/src/core/stellar.ts
  packages/sdk/src/core/types.ts
  packages/sdk/src/index.ts
  packages/sdk/test/run-solana.ts
  packages/sdk/test/run-stellar.ts
Owners: @pauleke, @koolamusic

feat(packages): add chain-specific SDK packages
  packages/core/package.json
  packages/core/src/base.ts
  packages/core/src/index.ts
  packages/core/src/interfaces.ts
  packages/core/src/types.ts
  packages/core/test/base.test.ts
  packages/core/test/types.test.ts
  packages/core/tsconfig.esm.json
  packages/core/tsconfig.json
  packages/core/tsconfig.types.json
  packages/core/vitest.config.ts
  packages/solana-sdk/package.json
  packages/solana-sdk/src/index.ts
  packages/solana-sdk/src/solana-sdk.ts
  packages/solana-sdk/src/types.ts
  packages/solana-sdk/test.ts
  packages/solana-sdk/tsconfig.esm.json
  packages/solana-sdk/tsconfig.json
  packages/solana-sdk/tsconfig.types.json
  packages/starknet-sdk/package.json
  packages/starknet-sdk/src/index.ts
  packages/starknet-sdk/src/starknet-sdk.ts
  packages/starknet-sdk/src/types.ts
  packages/starknet-sdk/tsconfig.esm.json
  packages/starknet-sdk/tsconfig.json
  packages/starknet-sdk/tsconfig.types.json
  packages/stellar-sdk/package.json
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/stellar-sdk.ts
  packages/stellar-sdk/src/types.ts
  packages/stellar-sdk/test.ts
  packages/stellar-sdk/tsconfig.esm.json
  packages/stellar-sdk/tsconfig.json
  packages/stellar-sdk/tsconfig.types.json
Owners: none

build: update SDK configuration and dependencies
  .gitignore
  packages/sdk/package.json
  packages/sdk/tsconfig.esm.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.types.json
  packages/stellar-cli/src/handlers/stellar.ts
  pnpm-lock.yaml
Owners: @pauleke, @koolamusic

feat(cli): add unified CLI package for all chains
  packages/cli/README.md
  packages/cli/bin/run.js
  packages/cli/bin/run.ts
  packages/cli/package.json
  packages/cli/sample-attestation.json
  packages/cli/sample-schema.json
  packages/cli/sample-solana-key.json
  packages/cli/sample-starknet-key.json
  packages/cli/sample-stellar-key.json
  packages/cli/src/commands/attestation.ts
  packages/cli/src/commands/authority.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/schema.ts
  packages/cli/src/handlers/base.ts
  packages/cli/src/handlers/index.ts
  packages/cli/src/handlers/solana.ts
  packages/cli/src/handlers/starknet.ts
  packages/cli/src/handlers/stellar.ts
  packages/cli/src/index.ts
  packages/cli/src/logger.ts
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
Owners: @pauleke, @koolamusic

chore: update lockfile for CLI consolidation
  pnpm-lock.yaml
Owners: none

docs: update CLI documentation for unified package
  apps/docs/quickstart.mdx
  apps/docs/sdks/cli.mdx
Owners: none

fix: update dependencies to use workspace references for core SDK packages
  CLAUDE.md
  packages/sdk/package.json
  packages/solana-sdk/package.json
  packages/starknet-sdk/package.json
  packages/stellar-sdk/package.json
  pnpm-lock.yaml
Owners: @pauleke, @koolamusic

feat(stellar): bindings for protocol and authority implementation
  contracts/stellar/.env.example
  contracts/stellar/bindings/.gitignore
  contracts/stellar/bindings/README.md
  contracts/stellar/bindings/authority.md
  contracts/stellar/bindings/protocol.md
  contracts/stellar/bindings/src/authority.ts
  contracts/stellar/bindings/src/protocol.ts
  contracts/stellar/bindings/tsconfig.json
  contracts/stellar/package.json
  contracts/stellar/readme.txt
  contracts/whitepaper/Cargo.lock
  contracts/whitepaper/Cargo.toml
  pnpm-lock.yaml
Owners: @daccred/attest

feat: add whitepaper package
  packages/solana-cli/package.json
  packages/whitepaper/attestprotocol.tex
  packages/whitepaper/attestprotocol_whitepaper25072025.pdf
Owners: none

feat: add Claude Code integration and project documentation
  .claude-sync-config.json
  .claude/commands/CHANGELOG.md
  .claude/commands/README.md
  .claude/commands/auto-commit.md
  .claude/commands/cc.md
  .claude/commands/issues.md
  .claude/commands/plan.md
  .claude/commands/query.md
  .claude/commands/resolve-pr-comments.md
  .claude/commands/triage.md
  .claude/commands/work.md
  CLAUDE.md
Owners: none

setup bindings exports for stellar types
  contracts/stellar/bindings/README.md
  contracts/stellar/bindings/authority.ts
  contracts/stellar/package.json
  contracts/stellar/readme.txt
  contracts/stellar/scripts/authority.mjs
  contracts/stellar/scripts/protocol.mjs
  contracts/stellar/test/authority.integration.test.mjs
  contracts/whitepaper/Makefile
  pnpm-lock.yaml
Owners: @daccred/attest

add db scripts for interactions
  apps/horizon/scripts/mock-mongo.mjs
  apps/horizon/scripts/mock-prisma.js
Owners: none

resolve pnpm lockfile issue
  pnpm-lock.yaml
Owners: none

build(whitepaper): Use Tectonic CLI directly for PDF generation
  contracts/whitepaper/Cargo.lock
  contracts/whitepaper/Cargo.toml
  contracts/whitepaper/Makefile
  contracts/whitepaper/Tectonic.toml
  contracts/whitepaper/attestprotocol.pdf
  contracts/whitepaper/attestprotocol.tex
  contracts/whitepaper/attestprotocol_whitepaper25072025.pdf
  contracts/whitepaper/release/attestprotocol.pdf
  contracts/whitepaper/release/attestprotocol_20250725.pdf
  contracts/whitepaper/release/whitepaper.glo
  contracts/whitepaper/release/whitepaper.idx
  contracts/whitepaper/release/whitepaper.ist
  contracts/whitepaper/src/main.rs
  contracts/whitepaper/whitepaper.pdf
Owners: @daccred/attest

fix(horizon): align collection and add tests
  apps/horizon/.env.sample
  apps/horizon/__tests__/horizon.test.ts
  apps/horizon/package.json
  apps/horizon/src/api/indexer/db.ts
Owners: none

feat(horizon): handle datastore interactions with prisma
  apps/horizon/package.json
  apps/horizon/prisma/schema.prisma
  apps/horizon/src/api/indexer/api.ts
  apps/horizon/src/api/indexer/db.ts
  apps/horizon/src/api/indexer/ledger.ts
  apps/horizon/src/api/indexer/prisma.ts
  pnpm-lock.yaml
Owners: none

feat: add Tectonic-based whitepaper build system
  .gitignore
  contracts/stellar/authority/Cargo.toml
  contracts/stellar/protocol/Cargo.toml
  contracts/whitepaper/.gitignore
  contracts/whitepaper/Cargo.lock
  contracts/whitepaper/Cargo.toml
  contracts/whitepaper/Makefile
  contracts/whitepaper/Tectonic.toml
  contracts/whitepaper/attestprotocol.pdf
  contracts/whitepaper/attestprotocol.tex
  contracts/whitepaper/attestprotocol_whitepaper25072025.pdf
  contracts/whitepaper/package.json
  contracts/whitepaper/src/main.rs
  contracts/whitepaper/whitepaper.glo
  contracts/whitepaper/whitepaper.idx
  contracts/whitepaper/whitepaper.ist
  contracts/whitepaper/whitepaper.pdf
  contracts/whitepaper/whitepaper.tex
  packages/.gitignore
  packages/solana-cli/.gitignore
  packages/starknet-cli/.gitignore
Owners: @daccred/attest

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic
