Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic

feat(stellar): add TypeScript bindings generation to deploy script
  contracts/stellar/bindings/README.md
  contracts/stellar/bindings/src/authority.md
  contracts/stellar/bindings/src/authority.ts
  contracts/stellar/bindings/src/protocol.md
  contracts/stellar/bindings/src/protocol.ts
  contracts/stellar/bindings/tsconfig.json
  contracts/stellar/deploy.sh
  contracts/stellar/deployments.json
  contracts/stellar/readme.txt
  contracts/stellar/tsconfig.json
Owners: @daccred/attest

fix(horizon): refactor db client to use class for handling operations
  apps/horizon/prisma/schema.prisma
  apps/horizon/scripts/mock-dbc.ts
  apps/horizon/src/api/indexer/db.ts
Owners: none

fix(whitepaper): resolve PDF build issues and add date suffix
  contracts/stellar/deployments.json
  contracts/stellar/test/authority.integration.test.mjs
  contracts/stellar/test/protocol.integration.test.mjs
  contracts/stellar/test/readme.md
  contracts/stellar/test/setup.mjs
  pnpm-lock.yaml
Owners: @daccred/attest

docs: update external reference links in README
  README.md
Owners: none

feat(horizon): model transaction and event data for protocol SC topics
  apps/horizon/package.json
  apps/horizon/prisma/schema.prisma
  apps/horizon/src/api/indexer/api.ts
  apps/horizon/src/api/indexer/db.ts
  apps/horizon/src/api/indexer/ledger.ts
  apps/horizon/src/api/indexer/prisma.ts
Owners: none

chore(stellar): update wasm target for rust v1.88
  contracts/stellar/authority/Makefile
  contracts/stellar/deploy.sh
  contracts/stellar/deployments.json
  contracts/stellar/protocol/Makefile
  pnpm-lock.yaml
Owners: @daccred/attest

docs: standardize blockchain card styling with chain logos
  apps/docs/overview.mdx
Owners: none

docs: update build:docs script to include a build message
  package.json
Owners: none

docs: update navigation structure and add main overview page
  apps/docs/docs.json
  apps/docs/overview.mdx
Owners: none

docs: enhance SDK documentation with visual components and comprehensive examples
  apps/docs/sdks/cli.mdx
  apps/docs/sdks/delegated-signatories.mdx
  apps/docs/sdks/typescript/examples.mdx
  apps/docs/sdks/typescript/initialization.mdx
  apps/docs/sdks/typescript/installation.mdx
  apps/docs/sdks/typescript/methods.mdx
Owners: none

docs: enhance guides and core concepts with visual components
  apps/docs/concepts/attestations.mdx
  apps/docs/concepts/authorities.mdx
  apps/docs/concepts/schemas.mdx
  apps/docs/concepts/storage.mdx
  apps/docs/concepts/verification.mdx
  apps/docs/docs.json
  apps/docs/guides/dao-voting.mdx
  apps/docs/guides/event-attendance.mdx
  apps/docs/guides/kyc-integration.mdx
Owners: none

docs: add comprehensive API reference documentation with visual enhancements
  apps/docs/reference/administration.mdx
  apps/docs/reference/attest.mdx
  apps/docs/reference/authority.mdx
  apps/docs/reference/errors.mdx
  apps/docs/reference/overview.mdx
  apps/docs/reference/schema.mdx
  apps/docs/reference/webhooks.mdx
Owners: none

docs: enhance quickstart guide with visual components and improved content structure
  apps/docs/introduction.mdx
  apps/docs/quickstart.mdx
  apps/docs/reference/endpoints/attest.mdx
Owners: none

Update documentation and SDK setup for AttestProtocol
  apps/docs/concepts/attestations.mdx
  apps/docs/concepts/authorities.mdx
  apps/docs/concepts/schemas.mdx
  apps/docs/concepts/storage.mdx
  apps/docs/concepts/verification.mdx
  apps/docs/docs.json
  apps/docs/getting-started/installation.mdx
  apps/docs/getting-started/your-first-attestation.mdx
  apps/docs/overview.mdx
  package.json
Owners: none

docs: add blockchain brand assets
  apps/docs/images/solana-dark.svg
  apps/docs/images/solana-light.svg
  apps/docs/images/starknet-dark.svg
  apps/docs/images/starknet-light.svg
  apps/docs/images/stellar-dark.svg
  apps/docs/images/stellar-light.svg
  apps/docs/images/sui-dark.svg
  apps/docs/images/sui-light.svg
Owners: none

docs: add telegram webhook integration planning document
  telegram-webhook-plan.md
Owners: none

docs: add comprehensive guide documentation with use cases and workflows
  apps/docs/guides/dao-voting.mdx
  apps/docs/guides/event-attendance.mdx
  apps/docs/guides/how-it-works.mdx
  apps/docs/guides/kyc-integration.mdx
  apps/docs/guides/use-cases.mdx
  apps/docs/guides/what-is-attestprotocol.mdx
  apps/docs/guides/why-attestations.mdx
Owners: none

docs: add core concepts documentation for authorities and schemas
  apps/docs/concepts/authorities.mdx
  apps/docs/concepts/schemas.mdx
Owners: none

docs: add comprehensive blockchain overview pages
  apps/docs/chains/solana/overview.mdx
  apps/docs/chains/starknet/overview.mdx
  apps/docs/chains/stellar/overview.mdx
Owners: none

docs: fix code block formatting in asset ownership, custom schemas, github credentials, and privacy options guides
  apps/docs/guides/asset-ownership.mdx
  apps/docs/guides/custom-schemas.mdx
  apps/docs/guides/github-credentials.mdx
  apps/docs/guides/privacy-options.mdx
Owners: none

feat(docs): add Mintlify documentation site
  apps/docs/concepts/attestations.mdx
  apps/docs/docs.json
  apps/docs/getting-started/installation.mdx
  apps/docs/getting-started/your-first-attestation.mdx
  apps/docs/images/logo-dark.svg
  apps/docs/images/logo-light.svg
  apps/docs/introduction.mdx
  apps/docs/package.json
  apps/docs/quickstart.mdx
  apps/docs/reference/endpoints/attest.mdx
  apps/docs/sdks/typescript/methods.mdx
  package.json
  pnpm-lock.yaml
Owners: none

docs: add comprehensive workflow guides
  apps/docs/guides/asset-ownership.mdx
  apps/docs/guides/custom-schemas.mdx
  apps/docs/guides/github-credentials.mdx
  apps/docs/guides/privacy-options.mdx
Owners: none

chore: update package dependencies for documentation
  apps/docs/package.json
  package.json
Owners: none

feat: horizon integration tests
  apps/horizon/TESTING.md
  apps/horizon/__tests__/analytics.test.ts
  apps/horizon/__tests__/endpoints.test.ts
  apps/horizon/__tests__/events.test.ts
  apps/horizon/__tests__/fixtures/test-data.ts
  apps/horizon/__tests__/integration/api.integration.test.ts
  apps/horizon/__tests__/integration/load.integration.test.ts
  apps/horizon/__tests__/setup.ts
  apps/horizon/__tests__/transactions.test.ts
  apps/horizon/package.json
Owners: none

refactor(horizon): modularize indexer; drop HorizonOperation; FK-safe ingest; split routers; add rpc.repository + getHorizonBaseUrl; JSDoc constants; fix tsc includes
  apps/horizon/.prettierrc
  apps/horizon/src/app.ts
  apps/horizon/src/common/constants.ts
  apps/horizon/src/common/db.ts
  apps/horizon/src/common/errors.ts
  apps/horizon/src/common/logger.ts
  apps/horizon/src/common/prisma.ts
  apps/horizon/src/common/queue.ts
  apps/horizon/src/index.ts
  apps/horizon/src/interfaces/ErrorResponse.ts
  apps/horizon/src/interfaces/MessageResponse.ts
  apps/horizon/src/middlewares.ts
  apps/horizon/src/repository/accounts.repository.ts
  apps/horizon/src/repository/contracts.repository.ts
  apps/horizon/src/repository/effects.repository.ts
  apps/horizon/src/repository/events.repository.ts
  apps/horizon/src/repository/operations.repository.ts
  apps/horizon/src/repository/payments.repository.ts
  apps/horizon/src/repository/rpc.repository.ts
  apps/horizon/src/repository/transactions.repository.ts
  apps/horizon/src/router/analytics.router.ts
  apps/horizon/src/router/data.router.ts
  apps/horizon/src/router/ingest.router.ts
  apps/horizon/src/router/system.router.ts
Owners: none

feat: start ingest queue on server startup • Add ingest queue auto-start in index.ts • Add FK constraint handling in operations repository • Ensure parent transactions exist before operations
  apps/horizon/src/index.ts
  apps/horizon/src/repository/operations.repository.ts
Owners: none

refactor: inline transaction merge logic • Remove mergeTransactionData helper function • Move merge logic directly into update operation • Simplify transaction update flow • No functional changes
  apps/horizon/src/repository/transactions.repository.ts
Owners: none

fix: skip update method in transaction upserts
  apps/horizon/src/repository/transactions.repository.ts
Owners: none

docs(changeset): minor update
  .changeset/hip-sites-act.md
Owners: none

RELEASING: Releasing 11 package(s)
  .changeset/hip-sites-act.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-cli/CHANGELOG.md
  packages/solana-cli/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.6.0
  package.json
Owners: none

chore: remove unused CLI package stubs - Delete solana-cli package files - Delete starknet-cli gitignore - Clean up unreferenced packages
  packages/solana-cli/.gitignore
  packages/solana-cli/CHANGELOG.md
  packages/solana-cli/package.json
  packages/starknet-cli/.gitignore
Owners: none

config(horizon): migrate to railway deployment - Replace .env.sample with .env.example - Add railway.toml deployment configuration - Update env vars to use DATABASE_URL format
  apps/horizon/.env.example
  apps/horizon/.env.sample
  apps/horizon/railway.toml
Owners: none

fix(horizon): correct build and deployment paths
  apps/horizon/package.json
  apps/horizon/railway.toml
Owners: none

fix(horizon): increase memory limit for Railway builds
  apps/horizon/nixpacks.toml
  apps/horizon/railway.toml
Owners: none

fix(horizon): correct nixpacks config path for Railway
  apps/horizon/railway.toml
Owners: none

fix(horizon): add pnpm to nixpacks configuration
  apps/horizon/nixpacks.toml
Owners: none

feat(horizon): switch to Dockerfile deployment strategy
  apps/horizon/Dockerfile
  apps/horizon/railway.toml
Owners: none

fix(horizon): correct Prisma client handling in Dockerfile
  apps/horizon/Dockerfile
Owners: none

fix(horizon): move dotenv to production dependencies
  apps/horizon/package.json
  package.json
Owners: none
