Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

ci(sdk): remove inconsistent package versions
  packages/stellar-sdk/package.json
  pnpm-lock.yaml
Owners: none

refactor(horizon): clean up schema processing and update documentation
  apps/horizon/scripts/descript.ts
  apps/horizon/src/common/schema-parser.ts
Owners: none

fix(horizon): correct Docker workspace structure and build order
  apps/horizon/Dockerfile
Owners: none

fix(horizon): resolve workspace dependency resolution in Docker builds
  apps/horizon/Dockerfile
  apps/horizon/package.json
  pnpm-lock.yaml
Owners: none

refactor(core): migrate from TypeScript compilation to tsup
  packages/core/package.json
  packages/core/tsconfig.esm.json
  packages/core/tsconfig.types.json
  packages/core/tsup.config.ts
  pnpm-lock.yaml
Owners: none

docs(changeset): integration refinements across SDK, horizon and schema deployer dApp
  .changeset/warm-boats-itch.md
Owners: none

RELEASING: Releasing 10 package(s)
  .changeset/warm-boats-itch.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.7.6
  package.json
Owners: none

format(syncpack): standardize module and package versions
  packages/cli/package.json
  packages/sdk/package.json
  packages/stellar-sdk/package.json
Owners: @pauleke, @koolamusic

chore: release packages
  pnpm-lock.yaml
Owners: none

chore: Release
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
Owners: @daccred/attest

doc: add scout audit report
  contracts/stellar/cargo-scout-audit.pdf
Owners: @daccred/attest

fix: resolve critical security vulnerabilities in protocol contract
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
  contracts/stellar/protocol/Cargo.toml
  contracts/stellar/protocol/src/errors.rs
  contracts/stellar/protocol/src/events.rs
  contracts/stellar/protocol/src/instructions/attestation.rs
  contracts/stellar/protocol/src/instructions/delegation.rs
  contracts/stellar/protocol/src/lib.rs
Owners: @daccred/attest

docs: add reviewed cargo scout audit v1 report
  contracts/stellar/cargo-scout-audit-v1-review.pdf
Owners: @daccred/attest

docs: scope QA and audit artefacts in /audit directory
  contracts/stellar/audit/ARCHITECTURE.md
  contracts/stellar/audit/AUTHORITY_STRIDE.md
  contracts/stellar/audit/LOC.md
  contracts/stellar/audit/PROTOCOL_STRIDE.md
  contracts/stellar/audit/cargo-scout-audit-v1-review.pdf
  contracts/stellar/audit/cargo-scout-audit.pdf
Owners: @daccred/attest

fix: apply security dependency overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: none

feat(stellar-sdk): add local network support
  packages/stellar-sdk/src/types.ts
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

refactor(stellar-sdk): remove unused parameters and clean up code
  packages/stellar-sdk/examples/walletQueries.ts
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/tsconfig.json
Owners: none

docs(changeset): prepare mainnet and setup graphs and rpc
  .changeset/true-ads-camp.md
Owners: none

RELEASING: Releasing 10 package(s)
  .changeset/true-ads-camp.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

chore: release packages
  pnpm-lock.yaml
Owners: none

Release 1.7.7
  package.json
Owners: none

fix: update @noble library imports to use .js extensions
  contracts/stellar/__test__/testutils.ts
  contracts/stellar/protocol/src/instructions/crypto.rs
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/delegation.ts
  packages/stellar-sdk/src/utils/bls.ts
  packages/stellar-sdk/src/utils/uidGenerator.ts
Owners: @daccred/attest

feat(stellar): update contract bindings with new deployments and network support
  contracts/stellar/bindings/src/authority.md
  contracts/stellar/bindings/src/authority.ts
  contracts/stellar/bindings/src/protocol.md
  contracts/stellar/bindings/src/protocol.ts
Owners: @daccred/attest

chore(stellar): update testnet deployment records
  contracts/stellar/deployments.json
Owners: @daccred/attest

fix(stellar): add dotenv config import to integration tests
  contracts/stellar/__test__/protocol.integration.test.ts
Owners: @daccred/attest

fix(stellar): update Noble BLS import in delegated attestation test
  contracts/stellar/__test__/delegated-attestation.integration.test.ts
Owners: @daccred/attest

revert(stellar): remove dotenv import from protocol integration test
  contracts/stellar/__test__/protocol.integration.test.ts
Owners: @daccred/attest

feat(horizon): use environment variables for contract IDs
  apps/horizon/.env.example
  apps/horizon/src/common/constants.ts
Owners: none

refactor(horizon): rename schema processing scripts for clarity
  apps/horizon/scripts/checkImportStatus.ts
  apps/horizon/scripts/importSchema.ts
  apps/horizon/scripts/importSchemaEntries.ts
Owners: none

chore(horizon): update schema UIDs after contract redeployment
  apps/horizon/scripts/schemas-education.jsonl
  apps/horizon/scripts/schemas-identity.jsonl
  apps/horizon/scripts/schemas-institution.jsonl
Owners: none

docs(horizon): update scripts README with renamed files and categories
  apps/horizon/scripts/README.md
Owners: none

chore: update pnpm lockfile
  pnpm-lock.yaml
Owners: none

chore(horizon): update technology schema UIDs
  apps/horizon/scripts/schemas-technology.jsonl
Owners: none

fix(horizon): correct schema categories in README
  apps/horizon/scripts/README.md
Owners: none

chore(horizon): update finance and gpt schema UIDs, remove professional
  apps/horizon/scripts/schemas-finance.jsonl
  apps/horizon/scripts/schemas-gpt.jsonl
  apps/horizon/scripts/schemas-professional.jsonl
Owners: none

fix: regenerate pnpm lockfile to resolve minimatch dependency issue
  pnpm-lock.yaml
Owners: none

chore(docs): update Mintlify CLI to latest, keep React 18.3.1
  apps/docs/package.json
  pnpm-lock.yaml
Owners: none

refactor(cli): move sample files to data directory
  packages/cli/data/sample-attestation.json
  packages/cli/data/sample-schema.json
  packages/cli/data/sample-solana-key.json
  packages/cli/data/sample-starknet-key.json
  packages/cli/data/sample-stellar-key.json
Owners: @pauleke, @koolamusic

chore(cli): remove unused dependencies and config
  packages/cli/package.json
Owners: @pauleke, @koolamusic

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic
