Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

refactor(horizon): remove obsolete test setup file
  apps/horizon/__tests__/fixtures/setup.ts
Owners: none

refactor(horizon): rename CONTRACT_IDS to CONTRACT_IDS_TO_INDEX and deprecate env-based config
  apps/horizon/.env.example
  apps/horizon/README.md
  apps/horizon/__tests__/endpoints.test.ts
  apps/horizon/__tests__/fixtures/unit-setup.ts
  apps/horizon/src/common/constants.ts
  apps/horizon/src/repository/contracts.repository.ts
  apps/horizon/src/repository/events.repository.ts
  apps/horizon/src/router/analytics.router.ts
  apps/horizon/src/router/ingest.router.ts
  apps/horizon/src/router/system.router.ts
Owners: none

feat(horizon): implement backfilll with integrations and router updates for parsing xdr values
  apps/horizon/__tests__/backfill.integration.test.ts
  apps/horizon/prisma/migrations/20250808195244_init/migration.sql
  apps/horizon/prisma/migrations/20250810040103_comprehensive_horizon_data/migration.sql
  apps/horizon/prisma/migrations/20250810133941_make_txhash_nullable/migration.sql
  apps/horizon/prisma/migrations/20250810145057_add_contract_operations_tracking/migration.sql
  apps/horizon/prisma/migrations/20250810193406_remove_horizon_operation/migration.sql
  apps/horizon/prisma/migrations/20250810221812_drop_fk_operations/migration.sql
  apps/horizon/prisma/migrations/20250827_rename_operations_table/migration.sql
  apps/horizon/prisma/migrations/20250828004918_bootstrap_new_horizon_model/migration.sql
  apps/horizon/prisma/migrations/migration_lock.toml
  apps/horizon/prisma/schema.prisma
  apps/horizon/src/repository/backfill.repository.ts
  apps/horizon/src/repository/contracts.repository.ts
  apps/horizon/src/repository/events.repository.ts
  apps/horizon/src/router/ingest.router.ts
  apps/horizon/vitest.config.ts
Owners: none

refactor(horizon): optimize backfill operations and improve test reliability
  apps/horizon/__tests__/backfill.integration.test.ts
  apps/horizon/__tests__/fixtures/integration-setup.ts
  apps/horizon/src/repository/backfill.repository.ts
Owners: none

test(horizon) backfill for all core entities
  apps/horizon/__tests__/backfill.integration.test.ts
  apps/horizon/package.json
Owners: none

wip(horizon): enhance registry projection and xdr parsing with inspection tools
  apps/horizon/__tests__/fixtures/integration-setup.ts
  apps/horizon/scripts/inspect-registry-shapes.mjs
  apps/horizon/src/repository/backfill.repository.ts
  apps/horizon/src/repository/events.repository.ts
Owners: none

wip(horizon): improve event projection and xdr parameter decoding with registry inspection
  apps/horizon/registry-dump.json
  apps/horizon/scripts/inspect-registry-shapes.mjs
  apps/horizon/src/repository/backfill.repository.ts
Owners: none

wip(horizon): add contract transactions rollup table and repository with enhanced backfill integration
  apps/horizon/prisma/migrations/20250828160112_add_event_transaction_table/migration.sql
  apps/horizon/prisma/migrations/20250828160956_transaction_tablename/migration.sql
  apps/horizon/prisma/migrations/migration_lock.toml
  apps/horizon/prisma/schema.prisma
  apps/horizon/src/repository/backfill.repository.ts
  apps/horizon/src/repository/contract-transactions.repository.ts
Owners: none

wip(horizon): add debug logging and event ordering for backfill testing
  apps/horizon/src/repository/backfill.repository.ts
  apps/horizon/src/repository/schemas.repository.ts
Owners: none

refactor(horizon): standardize event types and enhance database schema
  apps/horizon/prisma/migrations/20250828164437_is_event_successful_in_events/migration.sql
  apps/horizon/prisma/schema.prisma
  apps/horizon/registry-dump.json
  apps/horizon/src/repository/backfill.repository.ts
  apps/horizon/src/repository/contract-transactions.repository.ts
  apps/horizon/src/repository/events.repository.ts
Owners: none

test(horizon): improve backfill integration test coverage and data validation
  apps/horizon/__tests__/backfill.integration.test.ts
  apps/horizon/prisma/schema.prisma
  apps/horizon/registry-dump.json
  apps/horizon/src/repository/attestations.repository.ts
  apps/horizon/src/repository/backfill.repository.ts
  apps/horizon/src/repository/schemas.repository.ts
Owners: none

fix(horizon): correct variable references in backfill test validation
  apps/horizon/__tests__/backfill.integration.test.ts
Owners: none

enhance(horizon): improve ATTEST:REVOKE event processing and validation
  apps/horizon/src/repository/backfill.repository.ts
Owners: none

refactor(horizon): move bufferToHex helper function for better code organization
  apps/horizon/src/repository/backfill.repository.ts
Owners: none

test(horizon) backfill duplicate checker error
  apps/horizon/__tests__/backfill.integration.test.ts
  apps/horizon/src/repository/backfill.repository.ts
Owners: none

refactor(protocol): Secure attest function by removing subject
  contracts/stellar/protocol/src/instructions/attestation.rs
  contracts/stellar/protocol/src/lib.rs
  contracts/stellar/protocol/tests/protocol_attestation_test.rs
  contracts/stellar/protocol/tests/protocol_cryptography_test.rs
  contracts/stellar/protocol/tests/protocol_resolver_test.rs
  contracts/stellar/protocol/tests/protocol_revocation_test.rs
Owners: @daccred/attest

fix(horizon): correct foreign key reference for HorizonEvent-HorizonOperation relation
  apps/horizon/prisma/migrations/20250828221334_fix_horizon_event_operation_foreign_key/migration.sql
  apps/horizon/prisma/schema.prisma
Owners: none

feat(protocol): expose get_schema_or_fail function for external access
  contracts/stellar/protocol/src/instructions/mod.rs
  contracts/stellar/protocol/src/instructions/schema.rs
  contracts/stellar/protocol/src/lib.rs
Owners: @daccred/attest

enhance(horizon): improve operation-event linking and source account resolution
  apps/horizon/src/repository/backfill.repository.ts
Owners: none

test(horizon): update test expectations and backfill range
  apps/horizon/__tests__/backfill.integration.test.ts
  apps/horizon/__tests__/endpoints.test.ts
Owners: none

fix(horizon): correct operation type field reference in data router
  apps/horizon/src/router/data.router.ts
Owners: none

test(horizon): refactor test organization with unit/integration separation
  apps/horizon/__tests__/endpoints.unit.test.ts
  apps/horizon/__tests__/fixtures/test-data.ts
  apps/horizon/__tests__/registry-router.unit.test.ts
  apps/horizon/package.json
Owners: none

enhance(horizon): add buffer-to-hex conversion for event data parsing
  apps/horizon/src/repository/backfill.repository.ts
Owners: none

refactor(horizon): clean up registry router tests and fix mock data structure
  apps/horizon/__tests__/registry-router.unit.test.ts
Owners: none

docs(changeset): update sdk, standardize contract api and graph data
  .changeset/vast-actors-kneel.md
Owners: none

RELEASING: Releasing 10 package(s)
  .changeset/vast-actors-kneel.md
  contracts/solana/CHANGELOG.md
  contracts/solana/package.json
  contracts/starknet/CHANGELOG.md
  contracts/starknet/package.json
  contracts/stellar/CHANGELOG.md
  contracts/stellar/package.json
  contracts/whitepaper/CHANGELOG.md
  contracts/whitepaper/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/solana-sdk/CHANGELOG.md
  packages/solana-sdk/package.json
  packages/starknet-sdk/CHANGELOG.md
  packages/starknet-sdk/package.json
  packages/stellar-sdk/CHANGELOG.md
  packages/stellar-sdk/package.json
Owners: @daccred/attest, @pauleke, @koolamusic

Release 1.7.1
  package.json
Owners: none

chore: Release
  contracts/stellar/Cargo.lock
  contracts/stellar/Cargo.toml
Owners: @daccred/attest

fix(stellar-sdk): remove non-existent StoredAttestation import
  packages/stellar-sdk/src/index.ts
Owners: none

refactor(stellar): update contract deployments and remove legacy config
  apps/docs/reference/webhooks.mdx
  apps/horizon/README.md
  apps/horizon/__tests__/endpoints.unit.test.ts
  apps/horizon/src/common/constants.ts
  apps/horizon/src/router/system.router.ts
  contracts/stellar/__test__/protocol.integration.test.ts
  contracts/stellar/bindings/src/authority.md
  contracts/stellar/bindings/src/authority.ts
  contracts/stellar/bindings/src/protocol.md
  contracts/stellar/bindings/src/protocol.ts
  contracts/stellar/deployments.json
Owners: @daccred/attest

test(stellar): fix attestation retrieval test subject expectation
  contracts/stellar/__test__/protocol.integration.test.ts
  contracts/stellar/__test__/testutils.ts
Owners: @daccred/attest

test(stellar): fix XDR conversion test comparison method
  contracts/stellar/__test__/protocol.integration.test.ts
Owners: @daccred/attest

test(stellar): enhance XDR schema test with parsing verification
  contracts/stellar/__test__/delegated-attestation.integration.test.ts
  contracts/stellar/__test__/protocol.integration.test.ts
  contracts/stellar/__test__/testutils.ts
Owners: @daccred/attest

feat(stellar-sdk): update SDK to match new protocol bindings interface
  packages/stellar-sdk/src/attest.ts
  packages/stellar-sdk/src/authority.ts
Owners: none

test(horizon): update backfill integration test ledger range
  apps/horizon/__tests__/backfill.integration.test.ts
Owners: none

fix(sdk): remove non-existent levy property and fix unused parameters
  packages/solana-sdk/src/solana-sdk.ts
  packages/starknet-sdk/src/starknet-sdk.ts
Owners: none

improve(stellar): enhance Makefile with documentation and events target
  apps/horizon/__tests__/backfill.integration.test.ts
  contracts/stellar/protocol/Makefile
Owners: @daccred/attest

feat(stellar-sdk): add comprehensive client implementation with BLS cryptography and delegation support
  contracts/stellar/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/stellar-sdk/__tests__/client.test.ts
  packages/stellar-sdk/package.json
  packages/stellar-sdk/src/authority.ts
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/common/schema-encoder.ts
  packages/stellar-sdk/src/errors.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/schema.ts
  packages/stellar-sdk/src/types.ts
  packages/stellar-sdk/src/utils/bls.ts
  packages/stellar-sdk/src/utils/delegation.ts
  packages/stellar-sdk/src/utils/index.ts
  packages/stellar-sdk/src/utils/schema-codec.ts
  packages/stellar-sdk/src/utils/uid-generator.ts
  pnpm-lock.yaml
Owners: @daccred/attest, @pauleke, @koolamusic

feat(stellar-sdk): add horizon integration utilities for blockchain data fetching
  packages/stellar-sdk/src/utils/horizon.ts
Owners: none

feat(stellar-sdk): integrate horizon API and enhance client with wallet-based queries
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/utils/index.ts
Owners: none

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic
