Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic

build checkpoint
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/authority/src/test.rs
  contracts/stellar/contract/src/lib.rs
  contracts/stellar/contract/src/resolver_interface.rs
  contracts/stellar/contract/src/schema.rs
Owners: @daccred/attest

implement code organization and create modules to manage core attestation functions
  contracts/stellar/contract/src/errors.rs
  contracts/stellar/contract/src/events.rs
  contracts/stellar/contract/src/instructions/attest.rs
  contracts/stellar/contract/src/instructions/get_attest.rs
  contracts/stellar/contract/src/instructions/get_attestation.rs
  contracts/stellar/contract/src/instructions/initialize.rs
  contracts/stellar/contract/src/instructions/mod.rs
  contracts/stellar/contract/src/instructions/register_authority.rs
  contracts/stellar/contract/src/instructions/register_schema.rs
  contracts/stellar/contract/src/instructions/revoke.rs
  contracts/stellar/contract/src/instructions/revoke_attest.rs
  contracts/stellar/contract/src/interfaces/mod.rs
  contracts/stellar/contract/src/interfaces/resolver.rs
  contracts/stellar/contract/src/lib.rs
  contracts/stellar/contract/src/state.rs
  contracts/stellar/contract/src/tests.rs
  contracts/stellar/contract/src/utils.rs
Owners: @daccred/attest

scope modules to features and setup test
  contracts/stellar/Cargo.toml
  contracts/stellar/attestation/Cargo.toml
  contracts/stellar/attestation/Makefile
  contracts/stellar/attestation/src/lib.rs
  contracts/stellar/contract/src/events.rs
  contracts/stellar/contract/src/instructions/attest.rs
  contracts/stellar/contract/src/instructions/get_attest.rs
  contracts/stellar/contract/src/instructions/get_attestation.rs
  contracts/stellar/contract/src/instructions/initialize.rs
  contracts/stellar/contract/src/instructions/mod.rs
  contracts/stellar/contract/src/instructions/register_schema.rs
  contracts/stellar/contract/src/instructions/revoke.rs
  contracts/stellar/contract/src/instructions/revoke_attest.rs
  contracts/stellar/contract/src/instructions/schema.rs
  contracts/stellar/contract/src/interfaces/resolver.rs
  contracts/stellar/contract/src/lib.rs
  contracts/stellar/contract/src/schema.rs
  contracts/stellar/contract/src/state.rs
  contracts/stellar/contract/src/tests.rs
  contracts/stellar/contract/src/utils.rs
Owners: @daccred/attest

test: 4 cases passing
  contracts/stellar/contract/src/instructions/revoke.rs
  contracts/stellar/contract/src/instructions/schema.rs
  contracts/stellar/contract/src/tests.rs
Owners: @daccred/attest

Create SECURITY.md
  SECURITY.md
Owners: none

Create codeql.yml
  .github/workflows/codeql.yml
Owners: none

feat(soroban) attestation service happy test suites
  contracts/stellar/contract/src/instructions/mod.rs
  contracts/stellar/contract/src/tests.rs
  contracts/stellar/contract/src/utils.rs
Owners: @daccred/attest

configure commitlint and cz helpers
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
Owners: none

feat: add descriptive comments to functions and scope register_authority in authority crate
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/contract/src/events.rs
  contracts/stellar/contract/src/instructions/attest.rs
  contracts/stellar/contract/src/instructions/mod.rs
  contracts/stellar/contract/src/instructions/register_authority.rs
  contracts/stellar/contract/src/instructions/revoke.rs
  contracts/stellar/contract/src/instructions/schema.rs
  contracts/stellar/contract/src/lib.rs
  contracts/stellar/contract/src/tests.rs
Owners: @daccred/attest

fix(stellar): remove logic for authority check in schema, revoke and attestation logic
  contracts/stellar/contract/src/instructions/revoke.rs
  contracts/stellar/contract/src/instructions/schema.rs
  contracts/stellar/contract/src/tests.rs
Owners: @daccred/attest

add docstrings to contract functions and state parameters
  contracts/stellar/contract/src/instructions/attest.rs
  contracts/stellar/contract/src/instructions/revoke.rs
  contracts/stellar/contract/src/instructions/schema.rs
Owners: @daccred/attest

add comments to state keys and properties
  contracts/stellar/contract/src/state.rs
Owners: @daccred/attest

add comments to state keys and properties
  contracts/stellar/contract/src/state.rs
Owners: @daccred/attest

remove redundant contract implementations
  contracts/__spl/yarn.lock
  contracts/stellar/Cargo.toml
  contracts/stellar/protocol/.gitignore
  contracts/stellar/protocol/Cargo.toml
  contracts/stellar/protocol/Makefile
  contracts/stellar/protocol/src/errors.rs
  contracts/stellar/protocol/src/events.rs
  contracts/stellar/protocol/src/instructions/attest.rs
  contracts/stellar/protocol/src/instructions/mod.rs
  contracts/stellar/protocol/src/instructions/revoke.rs
  contracts/stellar/protocol/src/instructions/schema.rs
  contracts/stellar/protocol/src/interfaces/mod.rs
  contracts/stellar/protocol/src/interfaces/resolver.rs
  contracts/stellar/protocol/src/lib.rs
  contracts/stellar/protocol/src/state.rs
  contracts/stellar/protocol/src/tests.rs
  contracts/stellar/protocol/src/utils.rs
  contracts/stellar/schema/Cargo.toml
  contracts/stellar/schema/Makefile
  contracts/stellar/schema/src/lib.rs
  contracts/stellar/schema/src/test.rs
  pnpm-lock.yaml
Owners: @daccred/attest

add new util for get schema with Error or Result output
  contracts/stellar/protocol/src/instructions/mod.rs
  contracts/stellar/protocol/src/instructions/schema.rs
  contracts/stellar/protocol/src/utils.rs
Owners: @daccred/attest

feat(soroban): authorities with happy path test cases
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/authority/src/test.rs
  contracts/stellar/authority/src/xtest.rs
  contracts/stellar/protocol/src/instructions/attest.rs
  contracts/stellar/protocol/src/utils.rs
Owners: @daccred/attest

feat(soroban/authority): add test cases for unauthorized operations
  contracts/stellar/authority/src/test.rs
Owners: @daccred/attest

fix: remove redundant tests and document test implementation
  contracts/stellar/authority/src/test.rs
  contracts/stellar/authority/src/xtest.rs
Owners: @daccred/attest

setup test with mock auth and env when dealing with internal contract calls
  contracts/stellar/authority/Cargo.toml
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/authority/src/test.rs
Owners: @daccred/attest

feat: test for levy withdraw function with mocks to set token storage directly.. no event checks
  contracts/stellar/authority/src/test.rs
Owners: @daccred/attest

fix: all tests passing
  contracts/stellar/authority/src/test.rs
Owners: @daccred/attest

chore: organize codebase for authority using org convention
  contracts/stellar/authority/src/errors.rs
  contracts/stellar/authority/src/events.rs
  contracts/stellar/authority/src/instructions/admin.rs
  contracts/stellar/authority/src/instructions/mod.rs
  contracts/stellar/authority/src/instructions/resolver.rs
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/authority/src/state.rs
Owners: @daccred/attest

cargo fix
  contracts/stellar/authority/src/instructions/resolver.rs
  contracts/stellar/protocol/src/events.rs
  contracts/stellar/protocol/src/instructions/mod.rs
  contracts/stellar/protocol/src/instructions/schema.rs
Owners: @daccred/attest

wip stellar sdk
  packages/sdk/package.json
  packages/sdk/src/core/base.ts
  packages/sdk/src/core/solana.ts
  packages/sdk/src/core/stellar.ts
  packages/sdk/src/core/types.ts
  packages/sdk/src/index.ts
  packages/sdk/test/run-solana.ts
  packages/sdk/test/run-stellar.ts
Owners: @pauleke, @koolamusic

swap stellar-sdk
  packages/sdk/package.json
  packages/sdk/src/core/stellar.ts
  packages/sdk/src/core/types.ts
  packages/sdk/test/run-stellar.ts
  packages/sdk/yarn.lock
Owners: @pauleke, @koolamusic

fix: sdk compilation for public access
  packages/sdk/dist/attestations/index.d.ts
  packages/sdk/dist/core/index.d.ts
  packages/sdk/dist/core/types.d.ts
  packages/sdk/dist/index.d.ts
  packages/sdk/dist/index.js
  packages/sdk/dist/index.m.js
  packages/sdk/dist/index.modern.mjs
  packages/sdk/dist/index.umd.js
  packages/sdk/dist/schemas/index.d.ts
  packages/sdk/src/core/solana.ts
  packages/sdk/src/core/starknet.ts
  packages/sdk/src/core/types.ts
  packages/sdk/src/index.ts
  packages/sdk/test/run-solana.ts
Owners: @pauleke, @koolamusic

feat (sdk): add multi publish options npm, umd, deno
  packages/sdk/.gitignore
  packages/sdk/.releaserc.json
  packages/sdk/jsr.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.module.json
  packages/sdk/webpack.config.js
  packages/sdk/yarn.lock
Owners: @pauleke, @koolamusic

feat(cli): implement modular cli structure with chain handlers
  packages/cli/.gitignore
  packages/cli/bin/run
  packages/cli/bin/run.ts
  packages/cli/package.json
  packages/cli/src/commands/attestation.ts
  packages/cli/src/commands/authority.ts
  packages/cli/src/commands/fetch/index.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/publish/index.ts
  packages/cli/src/commands/publish/utils.ts
  packages/cli/src/commands/schema.ts
  packages/cli/src/handlers/base.ts
  packages/cli/src/handlers/index.ts
  packages/cli/src/handlers/solana.ts
  packages/cli/src/handlers/stellar.ts
  packages/cli/src/utils.ts
  packages/cli/yarn.lock
  packages/sdk/src/core/stellar.ts
Owners: @pauleke, @koolamusic

add testing documentation
  .gitignore
  contracts/stellar/.env.example.sh
  contracts/stellar/readme.txt
Owners: @daccred/attest

integration test for stellar contracts with nodejs stellar SDK
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/authority/src/state.rs
  contracts/stellar/package-lock.json
  contracts/stellar/package.json
  contracts/stellar/readme.txt
  contracts/stellar/scripts/run.js
Owners: @daccred/attest

intialize integration test scripts
  contracts/stellar/package-lock.json
  contracts/stellar/package.json
  contracts/stellar/scripts/run.mjs
  pnpm-lock.yaml
Owners: @daccred/attest

Fix: Resolve DataKey error in levy tests and cleanup warnings
  contracts/stellar/authority/src/instructions/admin.rs
  contracts/stellar/authority/src/instructions/resolver.rs
  contracts/stellar/authority/src/lib.rs
  contracts/stellar/authority/src/state.rs
  contracts/stellar/authority/src/test.rs
  contracts/stellar/readme.txt
Owners: @daccred/attest

ci(release): Integrate semantic-release for automated releases
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .releaserc.json
  contracts/solana/package.json
  contracts/stellar/scripts/run.mjs
  package.json
  pnpm-lock.yaml
Owners: @daccred/attest

fix: semantic naming for github workflows
  .github/workflows/semantic-release.yml
  .github/workflows/soroban-release.yml
Owners: none

fix: resolve dependency lockfile conflict
  .github/workflows/semantic-release.yml
  pnpm-lock.yaml
Owners: none

ci(semantic-release): set trigger branch to {canary,main}
  .github/workflows/semantic-release.yml
Owners: none

lockfile fix
  pnpm-lock.yaml
Owners: none

ci(stellar): fix lint errors with cargo clippy
  contracts/stellar/authority/src/instructions/admin.rs
  contracts/stellar/authority/src/instructions/resolver.rs
  contracts/stellar/authority/src/test.rs
Owners: @daccred/attest

Release 1.1.0
  contracts/stellar/package.json
Owners: @daccred/attest

fix(build): add config to tag releases
  .github/workflows/soroban-release.yml
Owners: none
