Repository daccred/attest.so, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pauleke, @koolamusic, @daccred/attest, @kohasummons

docs(stellar-sdk): add comprehensive wallet query examples with pagination
  packages/stellar-sdk/examples/wallet-queries.ts
Owners: none

refactor(sdk): remove stellar dependencies and improve type exports
  packages/sdk/src/index.ts
  packages/solana-sdk/src/solana-sdk.ts
  packages/starknet-sdk/src/index.ts
Owners: @pauleke, @koolamusic

refactor(stellar-sdk): add new utility modules and error handling
  packages/stellar-sdk/src/__tests__/.gitkeep
  packages/stellar-sdk/src/__tests__/testutils/keypairs.ts
  packages/stellar-sdk/src/__tests__/testutils/placeholders.ts
  packages/stellar-sdk/src/__tests__/testutils/standardized-schemas.ts
  packages/stellar-sdk/src/__tests__/testutils/validators.ts
  packages/stellar-sdk/src/common/errors.ts
  packages/stellar-sdk/src/utils/indexer.ts
  packages/stellar-sdk/src/utils/schemaCodec.ts
  packages/stellar-sdk/src/utils/uidGenerator.ts
Owners: none

refactor(stellar-sdk): update utility modules with new imports and BLS improvements
  packages/stellar-sdk/src/utils/bls.ts
  packages/stellar-sdk/src/utils/delegation.ts
  packages/stellar-sdk/src/utils/index.ts
Owners: none

refactor(stellar-sdk): update main SDK files with new import paths
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/types.ts
Owners: none

refactor(stellar-sdk): clean up examples and remove deprecated files
  packages/stellar-sdk/examples/multiple-schema-creation.ts
  packages/stellar-sdk/examples/offchain-schema-encoder.ts
  packages/stellar-sdk/examples/revocable-attestations.ts
Owners: none

refactor(stellar-sdk): remove deprecated internal utilities and reorganize modules
  packages/stellar-sdk/src/_internal/keypairs.ts
  packages/stellar-sdk/src/_internal/placeholders.ts
  packages/stellar-sdk/src/_internal/standardized-schemas.ts
  packages/stellar-sdk/src/_internal/validators.ts
  packages/stellar-sdk/src/common/schema-utils.ts
  packages/stellar-sdk/src/errors.ts
  packages/stellar-sdk/src/utils/horizon.ts
  packages/stellar-sdk/src/utils/schema-codec.ts
  packages/stellar-sdk/src/utils/uid-generator.ts
Owners: none

docs(stellar-sdk): enhance BLS utilities with comprehensive JSDoc documentation
  packages/stellar-sdk/src/utils/bls.ts
Owners: none

feat(stellar-sdk): add new schema encoder and utility modules
  packages/stellar-sdk/src/__tests__/testutils/standardizedSchemas.ts
  packages/stellar-sdk/src/common/schemaEncoder.ts
  packages/stellar-sdk/src/sdk.ts
  packages/stellar-sdk/src/utils/dataCodec.ts
Owners: none

refactor(stellar-sdk): update schema service with encoder integration
  packages/stellar-sdk/src/__tests__/testutils/validators.ts
  packages/stellar-sdk/src/schema.ts
Owners: none

feat(stellar-sdk): enhance horizon indexer with individual entity queries
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

refactor(stellar-sdk): update utils index with renamed exports
  packages/stellar-sdk/src/utils/index.ts
Owners: none

refactor(stellar-sdk): update client to use dataCodec instead of schemaCodec
  packages/stellar-sdk/src/client.ts
Owners: none

refactor(stellar-sdk): update main index with schema encoder imports
  packages/stellar-sdk/src/index.ts
Owners: none

feat(stellar-sdk): add comprehensive example applications
  packages/stellar-sdk/examples/basicUsage.ts
  packages/stellar-sdk/examples/commonSchemas.ts
  packages/stellar-sdk/examples/logger.ts
  packages/stellar-sdk/examples/multipleSchemaCreation.ts
  packages/stellar-sdk/examples/registry.ts
  packages/stellar-sdk/examples/walletQueries.ts
Owners: none

refactor(stellar-sdk): remove deprecated files and reorganize structure
  packages/stellar-sdk/examples/basic-usage.ts
  packages/stellar-sdk/examples/multiple-schema-creation.ts
  packages/stellar-sdk/examples/wallet-queries.ts
  packages/stellar-sdk/src/__tests__/testutils/standardized-schemas.ts
  packages/stellar-sdk/src/common/schema-encoder.ts
  packages/stellar-sdk/src/stellar-sdk.ts
  packages/stellar-sdk/src/utils/schemaCodec.ts
Owners: none

feat(horizon): add comprehensive integration tests and clean up API responses
  apps/horizon/__tests__/indexer-integration.unit.test.ts
  apps/horizon/__tests__/stellar-sdk-compatibility.unit.test.ts
  apps/horizon/src/router/registry.router.ts
Owners: none

refactor(stellar-sdk): update common index with schemaEncoder export
  packages/stellar-sdk/src/common/index.ts
Owners: none

test(horizon): replace integration tests with comprehensive SDK compatibility tests
  apps/horizon/__tests__/fixtures/mock.txt
  apps/horizon/__tests__/indexer-integration.unit.test.ts
  apps/horizon/__tests__/indexer-sdk.unit.test.ts
  apps/horizon/__tests__/registry-router.integration.test.ts
  apps/horizon/__tests__/stellar-sdk-compatibility.unit.test.ts
Owners: none

refactor(horizon): standardize API field names and improve test compatibility
  apps/horizon/__tests__/indexer-sdk.unit.test.ts
  apps/horizon/src/repository/attestations.repository.ts
  apps/horizon/src/repository/schemas.repository.ts
  apps/horizon/src/router/registry.router.ts
Owners: none

test(horizon): update mock database queries to use findMany for consistency
  apps/horizon/__tests__/indexer-sdk.unit.test.ts
Owners: none

wip(horizon): registry router integration test
  apps/horizon/__tests__/registry-router.integration.test.ts
  apps/horizon/__tests__/registry-router.unit.test.ts
Owners: none

refactor(horizon): reorganize registry router integration tests with prefix ordering
  apps/horizon/__tests__/0.registry-router.integration.test.ts
Owners: none

test(horizon): remove registry router unit tests in favor of integration tests
  apps/horizon/__tests__/registry-router.unit.test.ts
Owners: none

feat(horizon): add Vitest coverage support
  apps/horizon/package.json
  pnpm-lock.yaml
Owners: none

refactor(stellar-sdk): rename StellarAuthorityService to AttestProtocolAuthority and clean up exports
  packages/stellar-sdk/examples/basicUsage.ts
  packages/stellar-sdk/src/authority.ts
  packages/stellar-sdk/src/common/index.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/utils/indexer.ts
  packages/stellar-sdk/src/utils/uidGenerator.ts
Owners: none

refactor(stellar-sdk): update sdk.ts to use renamed AttestProtocolAuthority class
  packages/stellar-sdk/src/sdk.ts
Owners: none

refactor(stellar-sdk): rename StellarClient to StellarAttestationClient with enhanced constructor
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/types.ts
Owners: none

feat(stellar-sdk): enhance BLS verification with object parameters and update mainnet registry URL
  packages/stellar-sdk/src/utils/bls.ts
  packages/stellar-sdk/src/utils/indexer.ts
Owners: none

refactor(stellar-sdk): update tests and examples to use StellarAttestationClient
  packages/stellar-sdk/__tests__/client.test.ts
  packages/stellar-sdk/examples/multipleSchemaCreation.ts
  packages/stellar-sdk/examples/walletQueries.ts
Owners: none

feat(stellar): add mainnet contract configuration to protocol bindings
  contracts/stellar/bindings/src/protocol.ts
Owners: @daccred/attest

fix(stellar-sdk): correct createRevokeMessage return type to WeierstrassPoint
  packages/stellar-sdk/src/client.ts
Owners: none

fix(stellar-sdk): correct message type annotation and BLS signing function call
  packages/stellar-sdk/src/client.ts
Owners: none

feat(stellar-sdk): enhance delegated operations with additional parameters
  packages/core/src/interfaces.ts
  packages/core/src/types.ts
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/types.ts
Owners: none

feat(stellar-sdk): complete API standardization with dual signature support
  packages/stellar-sdk/README.md
  packages/stellar-sdk/__tests__/simple.test.ts
  packages/stellar-sdk/__tests__/stellar-sdk.test.ts
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/schema.ts
  packages/stellar-sdk/src/sdk.ts
  packages/stellar-sdk/src/types.ts
  packages/stellar-sdk/src/utils/delegation.ts
Owners: none

style: format code and improve quality across SDKs
  package.json
  packages/core/src/base.ts
  packages/core/src/index.ts
  packages/core/src/interfaces.ts
  packages/core/src/types.ts
  packages/sdk/src/index.ts
  packages/solana-sdk/src/index.ts
  packages/solana-sdk/src/solana-sdk.ts
  packages/solana-sdk/src/types.ts
  packages/starknet-sdk/src/index.ts
  packages/starknet-sdk/src/starknet-sdk.ts
  packages/starknet-sdk/src/types.ts
  packages/stellar-sdk/__tests__/client.test.ts
  packages/stellar-sdk/__tests__/simple.test.ts
  packages/stellar-sdk/src/__tests__/testutils/keypairs.ts
  packages/stellar-sdk/src/__tests__/testutils/placeholders.ts
  packages/stellar-sdk/src/__tests__/testutils/standardizedSchemas.ts
  packages/stellar-sdk/src/__tests__/testutils/validators.ts
  packages/stellar-sdk/src/attest.ts
  packages/stellar-sdk/src/authority.ts
  packages/stellar-sdk/src/client.ts
  packages/stellar-sdk/src/common/errors.ts
  packages/stellar-sdk/src/common/index.ts
  packages/stellar-sdk/src/common/schemaEncoder.ts
  packages/stellar-sdk/src/index.ts
  packages/stellar-sdk/src/schema.ts
  packages/stellar-sdk/src/types.ts
  packages/stellar-sdk/src/utils/bls.ts
  packages/stellar-sdk/src/utils/dataCodec.ts
  packages/stellar-sdk/src/utils/delegation.ts
  packages/stellar-sdk/src/utils/index.ts
  packages/stellar-sdk/src/utils/indexer.ts
  packages/stellar-sdk/src/utils/uidGenerator.ts
Owners: @pauleke, @koolamusic

test: clean up duplicate test content in client test file
  packages/stellar-sdk/__tests__/client.test.ts
Owners: none

test: remove duplicate variable declaration in client tests
  packages/stellar-sdk/__tests__/client.test.ts
Owners: none

test(stellar-sdk): enhance client test coverage and organization
  packages/solana-sdk/package.json
  packages/starknet-sdk/package.json
  packages/stellar-sdk/__tests__/client.test.ts
Owners: none

fix(stellar-sdk): correct protocol binding import paths to dist directory
  packages/stellar-sdk/src/attest.ts
Owners: none

.github/CODEOWNERS:

/packages/cli @pauleke @koolamusic
/packages/sdk @pauleke @koolamusic

/contracts/ @daccred/attest

/apps/www/ @kohasummons @koolamusic
